# Node.js
node_modules/

# Byte-compiled / optimized / DLL files
_pycache_/
__pycache__/
__pycache__
*.py[cod]
*$py.class
# C extensions
*.so

app/__pycache__/urls.cpython-312.pyc

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/