{% load static %}
            <footer class="footer mt-auto py-3 text-center">
                <div class="container">
                    <span class="text-muted"> Copyright © <span id="year"></span> <a
                            href="javascript:void(0);" class="text-dark fw-medium">SciFi</a>.
                        Designed with <span class="ri-heart-fill text-danger"></span> by <a href="javascript:void(0);">
                            <span class="fw-medium text-primary text-decoration-underline">Spruko</span>
                        </a> All
                        rights
                        reserved
                    </span>
                </div>
            </footer>