{% load static %}
<footer class="footer mt-auto py-3 text-center">
    <div class="container">
        <div>
            <span class="text-muted">Copyright © Designed by <span style="color: rgb(0, 197, 16);">E4</span></span>
        </div>
        <div>
            <a href="https://www.epa.gov/" style="text-decoration: underline; color: aqua;" target="_blank">U.S. Environmental Protection Agency</a>
        </div>
        <div>
            <a href="https://enviro.epa.gov/query-builder/ghg/GAS%20INFORMATION/RLPS_GHG_SUPPLIER_GAS/viewData" target="_blank" style="text-decoration: underline; color: aqua;">EPA GHG Supplier Gas Data</a>
        </div>
    </div>
</footer>