{% load static %}
            <div class="landing-main-footer py-4">
                <div class="container">
                    <div class="text-center gap-2 align-items-center justify-content">
                        <p class="fw-medium mb-3">
                            <a href="index"><img src="{% static 'assets/images/brand-logos/desktop-dark.png'%}" alt="" class="landing-footer-logo"></a>
                        </p>
                        <div class="mb-4">
                            <span class="text-fixed-white op-7 fs-14"> © Copyright <span id="year"></span> <a
                                href="javascript:void(0);" class="text-primary fs-15 fw-medium">SciFi</a>.
                            </span>
                        </div>
                        <div>
                            <ul class="list-unstyled fw-normal landing-footer-list mb-5">
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-6 text-decoration-underline">Terms Of Service</a>
                                </li>
                                <li><div class="vr"></div></li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-6 text-decoration-underline">Privacy Policy</a>
                                </li>
                                <li><div class="vr"></div></li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-6 text-decoration-underline">Legal</a>
                                </li>
                                <li><div class="vr"></div></li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-6 text-decoration-underline">Contact</a>
                                </li>
                                <li><div class="vr"></div></li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white op-6 text-decoration-underline">Report Abuse</a>    
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="d-flex gap-3  justify-content-center fw-normal landing-footer-list mb-0">
                                <a aria-label="anchor" href="javascript:void(0);" class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light"><i class="ri-twitter-x-line align-middle"></i></a>
                                <a aria-label="anchor" href="javascript:void(0);" class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light"><i class="ri-facebook-line align-middle"></i></a>
                                <a aria-label="anchor" href="javascript:void(0);" class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light"><i class="ri-instagram-line align-middle"></i></a>
                                <a aria-label="anchor" href="javascript:void(0);" class="btn btn-sm btn-icon btn-primary-light btn-wave waves-effect waves-light"><i class="ri-linkedin-line align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>