{% load static %}
        <!-- NODE WAVES CSS -->
        <link href="{% static 'assets/libs/node-waves/waves.min.css'%}" rel="stylesheet">
        
        <!-- SwiperJS Css -->
        <link rel="stylesheet" href="{% static 'assets/libs/swiper/swiper-bundle.min.css'%}">

        <!-- COLOR PICKER CSS -->
        <link rel="stylesheet" href="{% static 'assets/libs/flatpickr/flatpickr.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/libs/@simonwep/pickr/themes/nano.min.css'%}">

        <!-- CHOICES CSS -->
        <link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css'%}">