{% extends 'components/base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0 fw-medium">Latest Articles</h5>
                        <p class="mb-0 fw-medium">
                            <a href="javascript:void(0);" class="btn btn-primary-light">View All Posts</a>
                        </p>
                    </div>
                    <!-- Start::row-1 -->
                    <div class="row">
                        <div class="col-xxl-4">
                            <div class="card custom-card bg-dark overlay-card text-fixed-white border-0">
                                <img src="{% static 'assets/images/media/media-73.jpg'%}" class="card-img rounded-0" alt="...">
                                <div class="card-img-overlay d-flex flex-column p-0 over-content-top justify-content-between">
                                    <div class="card-body overflow-auto text-fixed-white">
                                        <div class="text-fixed-white fs-18 fw-semibold">
                                            Know nature closely
                                        </div>
                                        <div class="card-text mb-2 text-fixed-white">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                                        <div class="py-2">
                                            <h6 class="fw-medium mb-0 text-fixed-white fs-13 op-7">- Nature</h6>
                                        </div>
                                    </div>
                                    <div class="card-footer border-top-0">
                                        <a href="blog-details" class="text-primary fs-14">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4">
                            <div class="card custom-card bg-dark overlay-card text-fixed-white border-0">
                                <img src="{% static 'assets/images/media/media-74.jpg'%}" class="card-img rounded-0" alt="...">
                                <div class="card-img-overlay d-flex flex-column p-0 over-content-top justify-content-between">
                                    <div class="card-body overflow-auto text-fixed-white">
                                        <div class="text-fixed-white fs-18 fw-semibold">
                                            Playing your favorite sports
                                        </div>
                                        <div class="card-text mb-2 text-fixed-white">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                                        <div class="py-2">
                                            <h6 class="fw-medium mb-0 text-fixed-white fs-13 op-7">- Sports</h6>
                                        </div>
                                    </div>
                                    <div class="card-footer border-top-0">
                                        <a href="blog-details" class="text-primary fs-14">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4">
                            <div class="card custom-card bg-dark overlay-card text-fixed-white border-0">
                                <img src="{% static 'assets/images/media/media-75.jpg'%}" class="card-img rounded-0" alt="...">
                                <div class="card-img-overlay d-flex flex-column p-0 over-content-top justify-content-between">
                                    <div class="card-body overflow-auto text-fixed-white">
                                        <div class="text-fixed-white fs-18 fw-semibold">
                                            Staying Healthy
                                        </div>
                                        <div class="card-text mb-2 text-fixed-white">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                                        <div class="py-2">
                                            <h6 class="fw-medium mb-0 text-fixed-white fs-13 op-7">- Food</h6>
                                        </div>
                                    </div>
                                    <div class="card-footer border-top-0">
                                        <a href="blog-details" class="text-primary fs-14">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-1 -->

                    <!-- Start::row-2 -->
                    <div class="row">
                        <div class="col-xxl-7 col-xl-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="d-sm-flex align-items-center p-3">
                                    <img src="{% static 'assets/images/media/media-36.jpg'%}" class="img-fluid card-left-image mb-3 mb-sm-0" alt="...">
                                    <div class="ps-sm-4">
                                        <div class="float-end">
                                            <div class="btn-list">
                                                <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm"><i class="ri-thumb-up-line"></i></button>
                                                <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm"><i class="ri-chat-2-line"></i></button>
                                            </div>
                                        </div>
                                        <div class="badge bg-info-transparent mb-2">Meditation</div>
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-xs avatar-rounded me-2 flex-shrink-0">
                                                    <img src="{% static 'assets/images/faces/10.jpg'%}" alt="">
                                                </div>
                                                <div>
                                                    <p class="mb-0 fw-medium">Milton Linton <span class=" fs-11 op-6">- 28 Jan 2024</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="blog-details" class="fw-medium fs-22 text-dark mb-1">Heart of Mindfulness!</a>
                                        <p class="fs-11 text-muted mb-2 op-8">Tap into the Energy -Experience the healing power of sound meditation with our in-depth exploration of Tibetan singing bowls.
                                        </p>
                                        <a href="blog-details" class="text-primary fs-13">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="d-sm-flex align-items-center p-3">
                                    <img src="{% static 'assets/images/media/media-35.jpg'%}" class="img-fluid card-left-image mb-3 mb-sm-0" alt="...">
                                    <div class="ps-sm-4">
                                        <div class="float-end">
                                            <div class="btn-list">
                                                <button aria-label="button" type="button" class="btn btn-icon btn-light btn-sm"><i class="ri-thumb-up-line"></i></button>
                                                <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm"><i class="ri-chat-2-line"></i></button>
                                            </div>
                                        </div>
                                        <div class="badge bg-warning-transparent mb-2">Nature</div>
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar avatar-xs avatar-rounded me-2 flex-shrink-0">
                                                    <img src="{% static 'assets/images/faces/5.jpg'%}" alt="">
                                                </div>
                                                <div>
                                                    <p class="mb-0 fw-medium">Spencer Winn <span class=" fs-11 op-6">- 11 Jan 2024</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="blog-details" class="fw-medium fs-22 text-dark mb-1">Climb the Mountains Hills!</a>
                                        <p class="fs-11 text-muted mb-2 op-8">Uncover the mysteries of ancient mountain cultures in our exploration of Himalayan hillside villages – a captivating blend of tradition.
                                        </p>
                                        <a href="blog-details" class="text-primary fs-13">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-5 col-xl-12 ">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body p-0">
                                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active" data-bs-interval="2000">
                                                <a href="javascript:void(0);">
                                                    <img src="{% static 'assets/images/media/media-70.jpg'%}" class="d-block w-100" alt="...">
                                                    <div class="carousel-caption blog-caption text-center">
                                                        <p class="mb-2">The Future of Remote Work: Strategies for Building a Productive and Connected Virtual Team in the Post-Pandemic Era.</p>
                                                        <h6 class="fw-medium mb-2">BUSINESS</h6>
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <span class="avatar avatar-sm me-2">
                                                                <img src="{% static 'assets/images/faces/15.jpg'%}" alt="">
                                                            </span>
                                                            <div class="fw-medium">James Lucas - <span class="fs-11 op-7 fw-normal">12,Dec 2023 - 04:34PM</span></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <a href="javascript:void(0);">
                                                    <img src="{% static 'assets/images/media/media-71.jpg'%}" class="d-block w-100" alt="...">
                                                    <div class="carousel-caption blog-caption text-center">
                                                        <p class="mb-2">Discover the magic of rainy season photography with our expert tips and tricks – capture the beauty of rain. </p>
                                                        <h6 class="fw-medium mb-2 text-fixed-white">Rainy season</h6>
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <span class="avatar avatar-sm me-2">
                                                                <img src="{% static 'assets/images/faces/15.jpg'%}" alt="">
                                                            </span>
                                                            <div class="fw-medium">Kayson Hidy - <span class="fs-11 op-7 fw-normal">23,Dec 2023 - 09:18AM</span></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <a href="javascript:void(0);">
                                                    <img src="{% static 'assets/images/media/media-72.jpg'%}" class="d-block w-100" alt="...">
                                                    <div class="carousel-caption blog-caption text-center">
                                                        <p class="mb-2">Celebrate the sweetness of summer with our Strawberry Fields Forever Smoothie – a refreshing blend of ripe strawberries that extra burst of freshness.</p>
                                                        <h6 class="fw-medium mb-2 text-fixed-white">Fresh strawberries</h6>
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <span class="avatar avatar-sm me-2">
                                                                <img src="{% static 'assets/images/faces/4.jpg'%}" alt="">
                                                            </span>
                                                            <div class="fw-medium">Aldous Cason - <span class="fs-11 op-7 fw-normal">21,Jan 2024 - 05:35PM</span></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-2 -->

                    <!--End::row-3 -->
                    <div class="row">
                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="card custom-card">
                                <a href="javascript:void(0);">
                                    <img src="{% static 'assets/images/media/media-40.jpg'%}" class="img-fluid" alt="...">
                                </a>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-sm avatar-rounded me-2">
                                                <img src="{% static 'assets/images/faces/7.jpg'%}" alt="">
                                            </div>
                                            <div>
                                                <p class="mb-0 fw-medium fs-12">Jaylee Fore</p>
                                                <p class="text-muted fs-11 mb-0"><i class="fe fe-calendar"></i> 17,Dec 2023 - <i class="fe fe-clock"></i> 12:32</p>
                                            </div>
                                        </div>
                                        <div class="btn-list">
                                            <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm"><i class="ri-thumb-up-line"></i></button>
                                            
                                        </div>
                                    </div><a href="blog-details" class="fw-medium fs-14 text-dark mb-1">Inspiration everywhere you look!</a>
                                    <p class="card-text text-muted mb-3 op-8">Awaken your inner artist with our guide to sketching on the go – from quick urban sketches to capturing the essence of nature.</p>
                                    <a href="blog-details" class="text-primary fs-14 float-end">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="card custom-card">
                                <a href="javascript:void(0);">
                                    <img src="{% static 'assets/images/media/media-61.jpg'%}" class="img-fluid" alt="...">
                                </a>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-sm avatar-rounded me-2">
                                                <img src="{% static 'assets/images/faces/2.jpg'%}" alt="">
                                            </div>
                                            <div>
                                                <p class="mb-0 fw-medium fs-12">Beckett Chad</p>
                                                <p class="text-muted fs-11 mb-0"><i class="fe fe-calendar"></i> 24,Dec 2023 - <i class="fe fe-clock"></i> 14:21</p>
                                            </div>
                                        </div>
                                        <div class="btn-list">
                                            <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm"><i class="ri-thumb-up-line"></i></button>
                                        </div>
                                    </div>
                                    <a href="blog-details" class="fw-medium fs-14 text-dark mb-1">Strategic agility in a fast-paced world.</a>
                                    <p class="card-text text-muted mb-3 op-8"> Learn how to navigate uncertainty and embrace change with our proven strategies for building a resilient business. </p>
                                    <a href="blog-details" class="text-primary fs-14 float-end">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4">
                            <div class="card custom-card">
                                <a href="javascript:void(0);">
                                    <img src="{% static 'assets/images/media/media-42.jpg'%}" class="w-100" alt="...">
                                </a>
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-sm avatar-rounded me-2">
                                                <img src="{% static 'assets/images/faces/12.jpg'%}" alt="">
                                            </div>
                                            <div>
                                                <p class="mb-0 fw-medium fs-12">Brayden</p>
                                                <p class="text-muted fs-11 mb-0"><i class="fe fe-calendar"></i> 19,Dec 2023 - <i class="fe fe-clock"></i> 15:48</p>
                                            </div>
                                        </div>
                                        <div class="btn-list">
                                            <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm"><i class="ri-thumb-up-line"></i></button>
                                        </div>
                                    </div>
                                    <a href="blog-details" class="fw-medium fs-14 text-dark mb-1"> Visitor's Island</a>
                                    <p class="card-text text-muted mb-3 op-8">Explore the enchanting beauty of Bali with our insider's tips on must-visit temples, lush rice terraces, and the best spots.</p>
                                    <a href="blog-details" class="text-primary fs-14 float-end">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-3 -->

                    <!--End::row-4 -->
                    <div class="row">
                        <div class="col-xxl-3 col-lg-12 col-md-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-start flex-wrap flex-lg-nowrap gap-1">
                                                <span class="avatar avatar-xxl me-3 flex-shrink-0">
                                                    <img src="{% static 'assets/images/media/media-39.jpg'%}" class="img-fluid" alt="...">
                                                </span>
                                                <div class="flex-fill my-auto">
                                                    <a href="javascript:void(0);" class="fs-10 fw-medium mb-2 text-primary badge bg-primary-transparent">Travelling</a>
                                                    <p class="mb-1 fs-14">
                                                        There are many variations of passages...
                                                    </p>
                                                    <span class="text-muted fs-11"> <i class="fe fe-calendar"></i> 20,Oct 2023 - <i class="fe fe-clock"></i> 03:34</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-start flex-wrap flex-lg-nowrap gap-1">
                                                <span class="avatar avatar-xxl me-3 flex-shrink-0">
                                                    <img src="{% static 'assets/images/media/media-54.jpg'%}" class="img-fluid" alt="...">
                                                </span>
                                                <div class="flex-fill my-auto">
                                                    <a href="javascript:void(0);" class="fs-10 fw-medium mb-2 text-primary badge bg-primary-transparent">Photography</a>
                                                    <p class="mb-1 fs-14">
                                                        There are many variations of passages...
                                                    </p>
                                                    <span class="text-muted fs-11"> <i class="fe fe-calendar"></i> 12,Nov 2023 - <i class="fe fe-clock"></i> 14:05</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-start flex-wrap flex-lg-nowrap gap-1">
                                                <span class="avatar avatar-xxl me-3 flex-shrink-0">
                                                    <img src="{% static 'assets/images/media/media-25.jpg'%}" class="img-fluid" alt="...">
                                                </span>
                                                <div class="flex-fill my-auto">
                                                    <a href="javascript:void(0);" class="fs-10 fw-medium mb-2 text-primary badge bg-primary-transparent">Flowers</a>
                                                    <p class="mb-1 fs-14">
                                                        There are many variations of passages...
                                                    </p>
                                                    <span class="text-muted fs-11"> <i class="fe fe-calendar"></i> 05,Dec 2023 - <i class="fe fe-clock"></i> 20:00</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-start flex-wrap flex-lg-nowrap gap-1">
                                                <span class="avatar avatar-xxl me-3 flex-shrink-0">
                                                    <img src="{% static 'assets/images/media/media-52.jpg'%}" class="img-fluid" alt="...">
                                                </span>
                                                <div class="flex-fill my-auto">
                                                    <a href="javascript:void(0);" class="fs-10 fw-medium mb-2 text-primary badge bg-primary-transparent"> Light Energy</a>
                                                    <p class="mb-1 fs-14">
                                                        There are many variations of passages...
                                                    </p>
                                                    <span class="text-muted fs-11"> <i class="fe fe-calendar"></i> 01,Jan 2024 - <i class="fe fe-clock"></i> 08:20</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-9 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                    <div class="card custom-card">
                                        <div class="blog-image-top">
                                            <a href="javascript:void(0);">
                                                <img src="{% static 'assets/images/media/media-26.jpg'%}" class="w-100" alt="...">
                                            </a>
                                            <div class="badge fs-10 fw-semibold px-2">Travel</div>
                                        </div>
                                        <div class="card-body">
                                            <a href="blog-details" class="fw-medium fs-14 text-dark mb-1">Way to the Cabin!</a>
                                            <p class="card-text text-muted mb-3">Unplug, unwind, and reconnect with nature as we share our favorite activities for a weekend cabin escape.</p>
                                            <a href="blog-details" class="text-primary fs-14">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-sm avatar-rounded me-2">
                                                        <img src="{% static 'assets/images/faces/11.jpg'%}" alt="">
                                                    </div>
                                                    <div>
                                                        <p class="mb-0 fw-medium">Wiley Fred</p>
                                                        <p class="text-muted fs-11 mb-0"><i class="fe fe-calendar"></i> 18,Dec 2023 - <i class="fe fe-clock"></i> 12:25</p>
                                                    </div>
                                                </div>
                                                <div class="btn-list">
                                                    <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm m-1"><i class="ri-thumb-up-line"></i></button>
                                                    <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm m-1"><i class="ri-chat-2-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                    <div class="card custom-card">
                                        <div class="blog-image-top">
                                            <a href="javascript:void(0);">
                                                <img src="{% static 'assets/images/media/media-27.jpg'%}" class="w-100" alt="...">
                                            </a>
                                            <div class="badge fs-10 fw-semibold px-2">Travel</div>
                                        </div>
                                        <div class="card-body">
                                            <a href="blog-details" class="fw-medium fs-14 text-dark mb-1"> Water Activities for a Day!</a>
                                            <p class="card-text text-muted mb-3">Dive into the crystal-clear waters and ride the waves of joy as we share our favorite water activities to make your day unforgettable!.</p>
                                            <a href="blog-details" class="text-primary fs-14">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-sm avatar-rounded me-2">
                                                        <img src="{% static 'assets/images/faces/3.jpg'%}" alt="">
                                                    </div>
                                                    <div>
                                                        <p class="mb-0 fw-medium">Athelean Blie</p>
                                                        <p class="text-muted fs-11 mb-0"><i class="fe fe-calendar"></i> 25,Dec 2023 - <i class="fe fe-clock"></i> 04:25</p>
                                                    </div>
                                                </div>
                                                <div class="btn-list">
                                                    <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm m-1"><i class="ri-thumb-up-line"></i></button>
                                                    <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm m-1"><i class="ri-chat-2-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4">
                                    <div class="card custom-card">
                                        <div class="blog-image-top">
                                            <a href="javascript:void(0);">
                                                <img src="{% static 'assets/images/media/media-29.jpg'%}" class="w-100" alt="...">
                                            </a>
                                            <div class="badge fs-10 fw-semibold px-2">Travel</div>
                                        </div>
                                        <div class="card-body">
                                            <a href="blog-details" class="fw-medium fs-14 text-dark mb-1">Bird species fill the skies..</a>
                                            <p class="card-text text-muted mb-3">Immerse yourself in the vibrant ecosystems of the Pantanal, South America's largest tropical wetland, where caimans lurk in waterways.</p>
                                            <a href="blog-details" class="text-primary fs-14">Read More <i class="ri-arrow-right-s-line d-inline-block rtl-icon-transform align-middle"></i></a>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-sm avatar-rounded me-2">
                                                        <img src="{% static 'assets/images/faces/16.jpg'%}" alt="">
                                                    </div>
                                                    <div>
                                                        <p class="mb-0 fw-medium">Averill Ching</p>
                                                        <p class="text-muted fs-11 mb-0"><i class="fe fe-calendar"></i> 25,Dec 2023 - <i class="fe fe-clock"></i> 04:25</p>
                                                    </div>
                                                </div>
                                                <div class="btn-list">
                                                    <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm m-1"><i class="ri-thumb-up-line"></i></button>
                                                    <button aria-label="button" type="button" class="btn btn-icon btn-primary-light btn-sm m-1"><i class="ri-chat-2-line"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-4 -->

                    <!-- Start: pagination -->
                    <div class="float-end mb-4">
                        <nav aria-label="Page navigation" class="">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0);">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0);">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">17</a></li>
                                <li class="page-item">
                                    <a class="page-link text-primary" href="javascript:void(0);">
                                        next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End: pagination -->

                </div>
            </div>
            <!-- End::app-content -->

{% endblock %}

{% block scripts %}



{% endblock %}