{% extends 'components/base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    <!-- Start::row-1 -->
                    <div class="row">
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        BTC WALLET
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                        <div class="lh-1">
                                            <span class="avatar avatar-rounded">
                                                <img src="{% static 'assets/images/crypto-currencies/square-color/Bitcoin.svg'%}" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            <span class="d-block text-muted fs-12 fw-normal">Available BTC</span>
                                            <span class="fw-medium">0.04437 BTC</span>
                                        </div>
                                        <div class="ms-auto">
                                            <span class="fw-medium text-primary">$1646.4 USD</span>
                                            <span class="d-block text-muted fs-12 fw-normal">In USD</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-center d-flex flex-wrap gap-2">
                                        <button class="btn btn-primary-light btn-w-sm btn-wave flex-fill">Deposit</button>
                                        <button class="btn btn-success-light btn-wave btn-w-md flex-fill">Withdraw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        ETH WALLET
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                        <div class="lh-1">
                                            <span class="avatar avatar-rounded">
                                                <img src="{% static 'assets/images/crypto-currencies/square-color/Ethereum.svg'%}" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            <span class="d-block text-muted fs-12 fw-normal">Available ETH</span>
                                            <span class="fw-medium">1.3892 ETH</span>
                                        </div>
                                        <div class="ms-auto">
                                            <span class="fw-medium text-primary">$4581.24 USD</span>
                                            <span class="d-block text-muted fs-12 fw-normal">In USD</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-center d-flex flex-wrap gap-2">
                                        <button class="btn btn-primary-light btn-w-sm btn-wave flex-fill">Deposit</button>
                                        <button class="btn btn-success-light btn-wave btn-w-md flex-fill">Withdraw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        XRP WALLET
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                        <div class="lh-1">
                                            <span class="avatar avatar-rounded">
                                                <img src="{% static 'assets/images/crypto-currencies/square-color/Ripple.svg'%}" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            <span class="d-block text-muted fs-12 fw-normal">Available XRP</span>
                                            <span class="fw-medium">134.943 XRP</span>
                                        </div>
                                        <div class="ms-auto">
                                            <span class="fw-medium text-primary">$192.29 USD</span>
                                            <span class="d-block text-muted fs-12 fw-normal">In USD</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-center d-flex flex-wrap gap-2">
                                        <button class="btn btn-primary-light btn-w-sm btn-wave flex-fill">Deposit</button>
                                        <button class="btn btn-success-light btn-wave btn-w-md flex-fill">Withdraw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        LTC WALLET
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                        <div class="lh-1">
                                            <span class="avatar avatar-rounded">
                                                <img src="{% static 'assets/images/crypto-currencies/square-color/Litecoin.svg'%}" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            <span class="d-block text-muted fs-12 fw-normal">Available LTC</span>
                                            <span class="fw-medium">27.254 LTC</span>
                                        </div>
                                        <div class="ms-auto">
                                            <span class="fw-medium text-primary">$3519.01 USD</span>
                                            <span class="d-block text-muted fs-12 fw-normal">In USD</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-center d-flex flex-wrap gap-2">
                                        <button class="btn btn-primary-light btn-w-sm btn-wave flex-fill">Deposit</button>
                                        <button class="btn btn-success-light btn-wave btn-w-md flex-fill">Withdraw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-1 -->

                    <!--Start::row-2 -->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        BTC Wallet Address
                                    </div>
                                    <div>
                                        <button class="btn btn-primary-ghost btn-wave">Connect</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-end flex-wrap justify-content-between gap-4 mb-3">
                                        <div class="flex-fill">
                                            <label for="btc-wallet-address1" class="form-label">Wallet Address</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control " id="btc-wallet-address1" value="afb0dc8bc87472481559ffsd415c86ef43ed8df" placeholder="Placeholder">
                                                <button class="btn btn-primary">Copy</button>
                                            </div>    
                                        </div> 
                                        <div class="avatar avatar-lg border p-1">
                                            <img src="{% static 'assets/images/media/media-68.png'%}" class="qr-image" alt="">
                                        </div>
                                    </div>
                                    <div class="p-3 border border-dashed">
                                        <div class="row gy-3">
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-success-transparent">
                                                                <i class="ti ti-arrow-narrow-down fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Received</span>
                                                            <span class="d-block fw-medium">5.2834 <span class="fs-12 text-muted fw-normal">BTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-danger-transparent">
                                                                <i class="ti ti-arrow-narrow-up fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Sent</span>
                                                            <span class="d-block fw-medium">1.7382 <span class="fs-12 text-muted fw-normal">BTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-secondary-transparent">
                                                                <i class="ti ti-wallet fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Wallet Balance</span>
                                                            <span class="d-block fw-medium">13.5232 <span class="fs-12 text-muted fw-normal">BTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        ETH Wallet Address
                                    </div>
                                    <div>
                                        <button class="btn btn-primary-ghost btn-wave">Connect</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-end flex-wrap justify-content-between gap-4 mb-3">
                                        <div class="flex-fill">
                                            <label for="btc-wallet-address2" class="form-label">Wallet Address</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control " id="btc-wallet-address2" value="afb0dc8bc87472481559ffsd415c86ef43ed8df" placeholder="Placeholder">
                                                <button class="btn btn-primary">Copy</button>
                                            </div>    
                                        </div> 
                                        <div class="avatar avatar-lg border p-1">
                                            <img src="{% static 'assets/images/media/media-68.png'%}" class="qr-image" alt="">
                                        </div>
                                    </div>
                                    <div class="p-3 border border-dashed">
                                        <div class="row gy-3">
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-success-transparent">
                                                                <i class="ti ti-arrow-narrow-down fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Received</span>
                                                            <span class="d-block fw-medium">5.2834 <span class="fs-12 text-muted fw-normal">ETH</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-danger-transparent">
                                                                <i class="ti ti-arrow-narrow-up fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Sent</span>
                                                            <span class="d-block fw-medium">1.7382 <span class="fs-12 text-muted fw-normal">ETH</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-secondary-transparent">
                                                                <i class="ti ti-wallet fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Wallet Balance</span>
                                                            <span class="d-block fw-medium">13.5232 <span class="fs-12 text-muted fw-normal">ETH</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        LTC Wallet Address
                                    </div>
                                    <div>
                                        <button class="btn btn-primary-ghost btn-wave">Connect</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-end flex-wrap justify-content-between gap-4 mb-3">
                                        <div class="flex-fill">
                                            <label for="btc-wallet-address3" class="form-label">Wallet Address</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control " id="btc-wallet-address03" value="afb0dc8bc87472481559ffsd415c86ef43ed8df" placeholder="Placeholder">
                                                <button class="btn btn-primary">Copy</button>
                                            </div>    
                                        </div> 
                                        <div class="avatar avatar-lg border p-1">
                                            <img src="{% static 'assets/images/media/media-68.png'%}" class="qr-image" alt="">
                                        </div>
                                    </div>
                                    <div class="p-3 border border-dashed">
                                        <div class="row gy-3">
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-success-transparent">
                                                                <i class="ti ti-arrow-narrow-down fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Received</span>
                                                            <span class="d-block fw-medium">5.2834 <span class="fs-12 text-muted fw-normal">LTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-danger-transparent">
                                                                <i class="ti ti-arrow-narrow-up fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Sent</span>
                                                            <span class="d-block fw-medium">1.7382 <span class="fs-12 text-muted fw-normal">LTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-secondary-transparent">
                                                                <i class="ti ti-wallet fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Wallet Balance</span>
                                                            <span class="d-block fw-medium">13.5232 <span class="fs-12 text-muted fw-normal">LTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        XRP Wallet Address
                                    </div>
                                    <div>
                                        <button class="btn btn-primary-ghost btn-wave">Connect</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-end flex-wrap justify-content-between gap-4 mb-3">
                                        <div class="flex-fill">
                                            <label for="btc-wallet-address3" class="form-label">Wallet Address</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control " id="btc-wallet-address3" value="afb0dc8bc87472481559ffsd415c86ef43ed8df" placeholder="Placeholder">
                                                <button class="btn btn-primary">Copy</button>
                                            </div>    
                                        </div> 
                                        <div class="avatar avatar-lg border p-1">
                                            <img src="{% static 'assets/images/media/media-68.png'%}" class="qr-image" alt="">
                                        </div>
                                    </div>
                                    <div class="p-3 border border-dashed">
                                        <div class="row gy-3">
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-success-transparent">
                                                                <i class="ti ti-arrow-narrow-down fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Received</span>
                                                            <span class="d-block fw-medium">5.2834 <span class="fs-12 text-muted fw-normal">LTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-danger-transparent">
                                                                <i class="ti ti-arrow-narrow-up fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Sent</span>
                                                            <span class="d-block fw-medium">1.7382 <span class="fs-12 text-muted fw-normal">LTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="">
                                                    <div class="d-flex align-items-center gap-3">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-secondary-transparent">
                                                                <i class="ti ti-wallet fs-20"></i>
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <span class="d-block text-muted">Wallet Balance</span>
                                                            <span class="d-block fw-medium">13.5232 <span class="fs-12 text-muted fw-normal">LTC</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-2 -->

                </div>
            </div>
            <!-- End::app-content -->

{% endblock %}

{% block scripts %}



{% endblock %}