{% extends 'components/base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    <!-- Start:: row-1 -->
                    <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-md-2">
                        <div class="col flex-fill">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3 mb-3">
                                        <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-apple fs-15"></i> </span>
                                        <div class="flex-fill lh-1">
                                            <span class="d-block mb-1">Apple</span>
                                            <span class="d-block fs-12">Apple Inc</span>
                                        </div>
                                        <div class="dropdown"> 
                                            <a aria-label="anchor" href="javascript:void(0);" class="op-4" data-bs-toggle="dropdown" aria-expanded="true"> 
                                                <i class="bi bi-grid text-primary"></i>
                                            </a> 
                                            <ul class="dropdown-menu" role="menu" data-popper-placement="bottom-start"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li> 
                                            </ul> 
                                        </div>
                                    </div>
                                    <div class="mb-0 d-flex align-items-center justify-content-between">
                                        <h4 class="fw-medium lh-1 mb-0">$191.56<span class="badge bg-success-transparent ms-2 align-middle">1.55%</span></h4>
                                        <span class="fs-12">180 Stocks
                                            <a class="svg-secondary" href="javascript:void(0)" data-bs-toggle="popover"
                                            data-bs-placement="left" data-bs-custom-class="popover-light only-body" data-bs-content="Share value fluctucates timely.">
                                                <i class="ri-information-2-line op-6"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col flex-fill">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3 mb-3">
                                        <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-nvidia fs-15"></i> </span>
                                        <div class="flex-fill lh-1">
                                            <span class="d-block mb-1">Nvidia</span>
                                            <span class="d-block fs-12">NVIDIA Corp</span>
                                        </div>
                                        <div class="dropdown"> 
                                            <a aria-label="anchor" href="javascript:void(0);" class="op-4" data-bs-toggle="dropdown" aria-expanded="true"> 
                                                <i class="bi bi-grid text-primary"></i>
                                            </a> 
                                            <ul class="dropdown-menu" role="menu" data-popper-placement="bottom-start"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li> 
                                            </ul> 
                                        </div>
                                    </div>
                                    <div class="mb-0 d-flex align-items-center justify-content-between">
                                        <h4 class="fw-medium lh-1 mb-0">$594.91<span class="badge bg-success-transparent ms-2 align-middle">4.17%</span></h4>
                                        <span class="fs-12">63 Stocks
                                            <a class="svg-secondary" href="javascript:void(0)" data-bs-toggle="popover"
                                            data-bs-placement="left" data-bs-custom-class="popover-light only-body" data-bs-content="Share value fluctucates timely.">
                                                <i class="ri-information-2-line op-6"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col flex-fill">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3 mb-3">
                                        <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-amazon fs-15"></i> </span>
                                        <div class="flex-fill lh-1">
                                            <span class="d-block mb-1">Amazon</span>
                                            <span class="d-block fs-12">Amazon.com, Inc.</span>
                                        </div>
                                        <div class="dropdown"> 
                                            <a aria-label="anchor" href="javascript:void(0);" class="op-4" data-bs-toggle="dropdown" aria-expanded="true"> 
                                                <i class="bi bi-grid text-primary"></i>
                                            </a> 
                                            <ul class="dropdown-menu" role="menu" data-popper-placement="bottom-start"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li> 
                                            </ul> 
                                        </div>
                                    </div>
                                    <div class="mb-0 d-flex align-items-center justify-content-between">
                                        <h4 class="fw-medium lh-1 mb-0">$155.34<span class="badge bg-success-transparent ms-2 align-middle">1.84%</span></h4>
                                        <span class="fs-12">79 Stocks
                                            <a class="svg-secondary" href="javascript:void(0)" data-bs-toggle="popover"
                                            data-bs-placement="left" data-bs-custom-class="popover-light only-body" data-bs-content="Share value fluctucates timely.">
                                                <i class="ri-information-2-line op-6"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col flex-fill">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3 mb-3">
                                        <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-microsoft fs-15"></i> </span>
                                        <div class="flex-fill lh-1">
                                            <span class="d-block mb-1">Microsoft</span>
                                            <span class="d-block fs-12">Microsoft Corp</span>
                                        </div>
                                        <div class="dropdown"> 
                                            <a aria-label="anchor" href="javascript:void(0);" class="op-4" data-bs-toggle="dropdown" aria-expanded="true"> 
                                                <i class="bi bi-grid text-primary"></i>
                                            </a> 
                                            <ul class="dropdown-menu" role="menu" data-popper-placement="bottom-start"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li> 
                                            </ul> 
                                        </div>
                                    </div>
                                    <div class="mb-0 d-flex align-items-center justify-content-between">
                                        <h4 class="fw-medium lh-1 mb-0">$398.67<span class="badge bg-success-transparent ms-2 align-middle">1.22%</span></h4>
                                        <span class="fs-12">153 Stocks
                                            <a class="svg-secondary" href="javascript:void(0)" data-bs-toggle="popover"
                                            data-bs-placement="left" data-bs-custom-class="popover-light only-body" data-bs-content="Share value fluctucates timely.">
                                                <i class="ri-information-2-line op-6"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col flex-fill">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3 mb-3">
                                        <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-google fs-15"></i> </span>
                                        <div class="flex-fill lh-1">
                                            <span class="d-block mb-1">ALPHABET</span>
                                            <span class="d-block fs-12">Alphabet Inc</span>
                                        </div>
                                        <div class="dropdown"> 
                                            <a aria-label="anchor" href="javascript:void(0);" class="op-4" data-bs-toggle="dropdown" aria-expanded="true"> 
                                                <i class="bi bi-grid text-primary"></i>
                                            </a> 
                                            <ul class="dropdown-menu" role="menu" data-popper-placement="bottom-start"> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li> 
                                                <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li> 
                                            </ul> 
                                        </div>
                                    </div>
                                    <div class="mb-0 d-flex align-items-center justify-content-between">
                                        <h4 class="fw-medium lh-1 mb-0">$147.97<span class="badge bg-success-transparent ms-2 align-middle">2.06%</span></h4>
                                        <span class="fs-12">45 Stocks
                                            <a class="svg-secondary" href="javascript:void(0)" data-bs-toggle="popover"
                                            data-bs-placement="left" data-bs-custom-class="popover-light only-body" data-bs-content="Share value fluctucates timely.">
                                                <i class="ri-information-2-line op-6"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Total Earnings Of The Year
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Basic example"> 
                                        <button type="button" class="btn btn-primary btn-sm btn-wave">1D</button> 
                                        <button type="button" class="btn btn-primary-light btn-sm btn-wave">1W</button> 
                                        <button type="button" class="btn btn-primary-light btn-sm btn-wave">1M</button> 
                                        <button type="button" class="btn btn-primary-light btn-sm btn-wave">3M</button> 
                                        <button type="button" class="btn btn-primary-light btn-sm btn-wave">6M</button> 
                                        <button type="button" class="btn btn-primary-light btn-sm btn-wave">1Y</button> 
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="total-earnings"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        My Wishlist
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped text-nowrap"> 
                                        <thead>
                                            <tr>
                                                <th class="border-bottom-0 ps-4">Stock Name</th>
                                                <th class="border-bottom-0 ps-3">Price</th>
                                                <th class="border-bottom-0">Change</th>
                                            </tr> 
                                        </thead> 
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center gap-2"><span class="avatar avatar-sm rounded-0 bg-primary-transparent"><i class="bi bi-apple"></i></span>Apple</div> 
                                                </td>
                                                <td>$191.56</td>
                                                <td><span class="text-success ">1.55%<i class="ti ti-trending-up ms-1"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td> 
                                                        <div class="d-flex align-items-center gap-2"><span class="avatar avatar-sm rounded-0 bg-primary-transparent"><i class="bi bi-nvidia"></i></span>Nvidia</div> 
                                                </td>
                                                <td>$594.91</td>
                                                <td><span class="text-danger fw-semibold">4.17%<i class="ti ti-trending-down ms-1"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        <div class="d-flex align-items-center gap-2"><span class="avatar avatar-sm rounded-0 bg-primary-transparent"><i class="bi bi-amazon"></i></span>Amazon</div>  
                                                </td>
                                                <td>$155.34</td>
                                                <td><span class="text-success">1.84%<i class="ti ti-trending-up ms-1"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        <div class="d-flex align-items-center gap-2"><span class="avatar avatar-sm rounded-0 bg-primary-transparent"><i class="bi bi-microsoft"></i></span>Microsoft</div> 
                                                </td>
                                                <td>$398.67</td>
                                                <td><span class="text-success">1.22%<i class="ti ti-trending-up ms-1"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        <div class="d-flex align-items-center gap-2"><span class="avatar avatar-sm rounded-0 bg-primary-transparent"><i class="bi bi-google"></i></span>Alphabet</div> 
                                                </td>
                                                <td>$147.97</td>
                                                <td><span class="text-success">2.06%<i class="ti ti-trending-up ms-1"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td> 
                                                        <div class="d-flex align-items-center gap-2"><span class="avatar avatar-sm rounded-0 bg-primary-transparent"><i class="ri-mastercard-fill"></i></span>Mastercard</div> 
                                                </td>
                                                <td>$436.78</td>
                                                <td><span class="text-success">1.41%<i class="ti ti-trending-up ms-1"></i></span></td>
                                            </tr> 
                                        </tbody>
                                    </table> 
                                </div>
                                </div>  
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Portfolio Value
                                    </div>
                                    <div class="dropdown"> 
                                        <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="dropdown" class="op-4" aria-expanded="false"> 
                                            <i class="bi bi-grid text-primary"></i>
                                        </a> 
                                        <ul class="dropdown-menu" role="menu"> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">Day</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Week</a></li> 
                                            <li><a class="dropdown-item" href="javascript:void(0);">Year</a></li> 
                                        </ul> 
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <div>
                                            <span class="avatar avatar-md bg-primary-transparent">
                                                <i class="ti ti-currency-dollar fs-4"></i>
                                            </span>
                                        </div>
                                        <div>
                                            <div class="text-muted fs-13">Total Value <span class="p-2 br-5 text-success"><i class="fe fe-arrow-up-right"></i></span> </div> <h3 class="">$582,857.97</h3> <div class="fs-12"><span class="text-success fs-13 me-1 d-inline-flex">32%</span>Increase Since last Year</div> 
                                        </div>
                                    </div>
                                    <div id="portfolio-value"></div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <!-- Start:: row-2 -->

                    <!-- Start:: row-3 -->
                    <div class="row">
                        <div class="mb-4 d-flex align-items-center justify-content-between"> 
                            <h6 class="fw-semibold mb-0">My Portfolio :</h6> 
                            <div> 
                                <button class="btn btn-sm btn-primary-light btn-wave">View All</button> 
                            </div> 
                        </div>
                        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar bg-danger-transparent">
                                                    <i class="ti ti-trending-down fs-18"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block fw-semibold">Nifty 50</span>
                                                <span class="d-block">$12,289.44</span>
                                            </div>
                                        </div>
                                        <div class="text-end text-danger fs-12 fw-semibold">
                                            <span class="d-block">-0.14%</span>
                                            <span class="d-block">-$1,780.80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar bg-danger-transparent">
                                                    <i class="ti ti-trending-down fs-18"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block fw-semibold">SENSEX</span>
                                                <span class="d-block">$12,289.44</span>
                                            </div>
                                        </div>
                                        <div class="text-end text-danger fs-12 fw-semibold">
                                            <span class="d-block">-0.14%</span>
                                            <span class="d-block">-$1,780.80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar bg-success-transparent">
                                                    <i class="ti ti-trending-up fs-18"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block fw-semibold">DJIA</span>
                                                <span class="d-block">$12,289.44</span>
                                            </div>
                                        </div>
                                        <div class="text-end text-danger fs-12 fw-semibold">
                                            <span class="d-block">-0.14%</span>
                                            <span class="d-block">-$1,780.80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar bg-danger-transparent">
                                                    <i class="ti ti-trending-down fs-18"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block fw-semibold">S&amp;P 500</span>
                                                <span class="d-block">$12,289.44</span>
                                            </div>
                                        </div>
                                        <div class="text-end text-danger fs-12 fw-semibold">
                                            <span class="d-block">-0.14%</span>
                                            <span class="d-block">-$1,780.80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar bg-success-transparent">
                                                    <i class="ti ti-trending-up fs-18"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block fw-semibold">NASDAQ</span>
                                                <span class="d-block">$12,289.44</span>
                                            </div>
                                        </div>
                                        <div class="text-end text-danger fs-12 fw-semibold">
                                            <span class="d-block">-0.14%</span>
                                            <span class="d-block">-$1,780.80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar bg-success-transparent">
                                                    <i class="ti ti-trending-up fs-18"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="d-block fw-semibold">NIFTY IT</span>
                                                <span class="d-block">$12,289.44</span>
                                            </div>
                                        </div>
                                        <div class="text-end text-danger fs-12 fw-semibold">
                                            <span class="d-block">-0.14%</span>
                                            <span class="d-block">-$1,780.80</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-3 -->

                    <!-- Start:: row-4 -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        My Stocks
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped text-nowrap table-borderless">
                                            <thead>
                                                <tr>
                                                    <th scope="col">S.No</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Date Invested</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Market Cap</th>
                                                    <th scope="col">Price Change</th>
                                                    <th scope="col">Volume</th>
                                                    <th scope="col">Price Graph</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <div class="d-flex align-items-start gap-2">
                                                            <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-apple fs-15"></i> </span>
                                                            <div class="flex-fill lh-1">
                                                                <span class="d-block mb-1">Apple</span>
                                                                <span class="d-block fs-12">Apple Inc</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        20-11-2023
                                                    </td>
                                                    <td>
                                                        $16,839.10
                                                    </td>
                                                    <td>
                                                        324.01B
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.30% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                    <td>
                                                        14,674,311,168
                                                    </td>
                                                    <td>
                                                        <div id="apple-stock-graph"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>
                                                        <div class="d-flex align-items-start gap-2">
                                                            <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-nvidia fs-15"></i> </span>
                                                            <div class="flex-fill lh-1">
                                                                <span class="d-block mb-1">Nvidia</span>
                                                                <span class="d-block fs-12">NVIDIA Corp</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        14-01-2024
                                                    </td>
                                                    <td>
                                                        1,217.96
                                                    </td>
                                                    <td>
                                                        $149,316,232,699
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.30% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                    <td>
                                                        $4,758,554,801
                                                    </td>
                                                    <td>
                                                        <div id="nvidia-stock-graph"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>
                                                        <div class="d-flex align-items-start gap-2">
                                                            <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-amazon fs-15"></i> </span>
                                                            <div class="flex-fill lh-1">
                                                                <span class="d-block mb-1">Amazon</span>
                                                                <span class="d-block fs-12">Amazon.com, Inc.</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        26-01-2024
                                                    </td>
                                                    <td>
                                                        $43.49
                                                    </td>
                                                    <td>
                                                        $480,799,847
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.45% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                    <td>
                                                        $52,626,563
                                                    </td>
                                                    <td>
                                                        <div id="amazon-stock-graph"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>
                                                        <div class="d-flex align-items-start gap-2">
                                                            <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-microsoft fs-15"></i> </span>
                                                            <div class="flex-fill lh-1">
                                                                <span class="d-block mb-1">Microsoft</span>
                                                                <span class="d-block fs-12">Microsoft Corp</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        31-01-2024
                                                    </td>
                                                    <td>
                                                        $0.3531
                                                    </td>
                                                    <td>
                                                        $17,791,969,465
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.97% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                    <td>
                                                        $511,598,941
                                                    </td>
                                                    <td>
                                                        <div id="microsoft-stock-graph"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>
                                                        <div class="d-flex align-items-start gap-2">
                                                            <span class="avatar avatar-sm bg-primary-transparent"> <i class="bi bi-google fs-15"></i> </span>
                                                            <div class="flex-fill lh-1">
                                                                <span class="d-block mb-1">ALPHABET</span>
                                                                <span class="d-block fs-12">Alphabet Inc</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        12-02-2024
                                                    </td>
                                                    <td>
                                                        $0.169741
                                                    </td>
                                                    <td>
                                                        $471,800,600
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.93% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                    <td>
                                                        $5,524,385
                                                    </td>
                                                    <td>
                                                        <div id="alphabet-stock-graph"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>
                                                        <div class="d-flex align-items-start gap-2">
                                                            <span class="avatar avatar-sm bg-primary-transparent"> <i class="ri-mastercard-fill fs-15"></i> </span>
                                                            <div class="flex-fill lh-1">
                                                                <span class="d-block mb-1">Mastercard</span>
                                                                <span class="d-block fs-12">Mastercard Inc</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        19-01-2024
                                                    </td>
                                                    <td>
                                                        $6.43
                                                    </td>
                                                    <td>
                                                        $453,601,667
                                                    </td>
                                                    <td>
                                                        <span class="text-danger">0.49% <i class="ti ti-arrow-big-down-lines ms-1"></i></span>
                                                    </td>
                                                    <td>
                                                        $12,904,320
                                                    </td>
                                                    <td>
                                                        <div id="mastercard-stock-graph"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-4 -->

                </div>
            </div> 
            <!-- End::app-content -->

{% endblock %}

{% block scripts %}

        <!-- Apex Charts JS -->
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>
        
        <!-- Stocks Dashboard --> 
        <script src="{% static 'assets/js/stocks-dashboard.js'%}"></script>

{% endblock %}