{% extends 'components/base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    <!-- Start:: row-1 -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body py-0">
                                    <div class="row align-items-center">
                                        <div class="col-xl-3 col-sm-6">
                                            <div class="p-3 custom-border-end">
                                                <span class="d-block fs-12 mb-1">Balance</span>
                                                <h3 class="fw-semibold mb-0">$23,768</h3>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6">
                                            <div class="p-3 custom-border-end">
                                                <span class="d-block fs-12 mb-1">Coins</span>
                                                <div class="avatar-list-stacked">
                                                    <span class="avatar avatar-rounded avatar-sm bg-primary">
                                                        <img src="{% static 'assets/images/crypto-currencies/crypto-icons/binance-usd-busd-logo.svg'%}" alt="img">
                                                    </span>
                                                    <span class="avatar avatar-rounded avatar-sm bg-primary">
                                                        <img src="{% static 'assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg'%}" alt="img">
                                                    </span>
                                                    <span class="avatar avatar-rounded avatar-sm bg-primary">
                                                        <img src="{% static 'assets/images/crypto-currencies/crypto-icons/cardano-ada-logo.svg'%}" alt="img">
                                                    </span>
                                                    <span class="avatar avatar-rounded avatar-sm bg-primary">
                                                        <img src="{% static 'assets/images/crypto-currencies/crypto-icons/dogecoin-doge-logo.svg'%}" alt="img">
                                                    </span>
                                                    <span class="avatar avatar-rounded avatar-sm bg-primary">
                                                        <img src="{% static 'assets/images/crypto-currencies/crypto-icons/ethereum-eth-logo.svg'%}" alt="img">
                                                    </span>
                                                    <span class="avatar avatar-rounded avatar-sm bg-primary">
                                                        <img src="{% static 'assets/images/crypto-currencies/crypto-icons/solana-sol-logo.svg'%}" alt="img">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6">
                                            <div class="p-3 custom-border-end">
                                                <span class="d-block fs-12 mb-1">Today's Profit</span>
                                                <h3 class="fw-semibold mb-0">$5,233 <span class="fs-12"><i class="ri-arrow-up-s-fill text-success"></i> 4.7%</span></h3>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-6">
                                            <div class="btn-list text-xl-end p-3 pb-4">
                                                <button class="btn btn-outline-primary"><i class="ri-send-plane-2-line me-1 align-middle"></i>Send Money</button>
                                                <button class="btn btn-primary"><i class="ri-add-line me-1 align-middle"></i>Buy Currency</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="row">
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="mb-3 d-flex align-items-start justify-content-between">
                                        <div>
                                            <span class="avatar bg-primary-transparent">
                                                <i class="ri-btc-line fs-5"></i>
                                            </span>
                                        </div>
                                        <div id="total-revenue1"></div>
                                    </div>
                                    <h4 class="fw-semibold mb-2">$42577.10</h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-muted">Bitcoin</span>
                                        <span class="badge bg-success-transparent"><i class="ti ti-trending-up me-1 align-middle"></i>+1.08%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="mb-3 d-flex align-items-start justify-content-between">
                                        <div>
                                            <span class="avatar bg-primary-transparent">
                                                <i class="ri-eth-line fs-5"></i>
                                            </span>
                                        </div>
                                        <div id="total-customers"></div>
                                    </div>
                                    <h4 class="fw-semibold mb-2">$2529.41</h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-muted">Ethereum</span>
                                        <span class="badge bg-danger-transparent"><i class="ti ti-trending-down me-1 align-middle"></i>-0.56%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="mb-3 d-flex align-items-start justify-content-between">
                                        <div>
                                            <span class="avatar bg-primary-transparent">
                                                <i class="ri-xtz-line fs-5"></i>
                                            </span>
                                        </div>
                                        <div id="conversion-ratio"></div>
                                    </div>
                                    <h4 class="fw-semibold mb-2">$1.09</h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-muted">Tezos</span>
                                        <span class="badge bg-success-transparent"><i class="ti ti-trending-up me-1 align-middle"></i>+4.63%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-body">
                                    <div class="mb-3 d-flex align-items-start justify-content-between">
                                        <div>
                                            <span class="avatar bg-primary-transparent">
                                                <i class="ri-xrp-line fs-5"></i>
                                            </span>
                                        </div>
                                        <div id="total-deals"></div>
                                    </div>
                                    <h4 class="fw-semibold mb-2">$0.57</h4>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="text-muted">XRP</span>
                                        <span class="badge bg-success-transparent"><i class="ti ti-trending-up me-1 align-middle"></i>+12.67%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->

                    <!-- Start:: row-3 -->
                    <div class="row">
                        <div class="col-xxl-6 col-xl-12">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        Crypto Currency Price
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-sm-flex align-items-center justify-content-between px-3">
                                        <div class="mb-sm-0 mb-2">
                                            <span class="avatar rounded-0 p-2 bg-primary-transparent">
                                                <img src="{% static 'assets/images/crypto-currencies/crypto-icons/tether-usdt-logo.svg'%}" alt="">
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-sm-end flex-wrap">
                                            <div class="me-4">
                                                <span class="fs-12">Last Price</span>
                                                <p class="mb-0 fs-16 font-weight-semibold">$12,577.58</p>
                                            </div>
                                            <div class="me-4">
                                                <span class="fs-12">24h Volume</span>
                                                <p class="mb-0 fs-16 font-weight-semibold">85.45BTC</p>
                                            </div>
                                            <div class="me-4">
                                                <span class="fs-12">Open</span>
                                                <p class="mb-0 fs-16 font-weight-semibold">42,397.89</p>
                                            </div>
                                            <div class="me-4">
                                                <span class="fs-12">High</span>
                                                <p class="mb-0 fs-16 font-weight-semibold">99,373.38</p>
                                            </div>
                                            <div class="me-0">
                                                <span class="fs-12">Close</span>
                                                <p class="mb-0 fs-16 font-weight-semibold">85,158.74</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="crypto-price"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header pb-2 border-bottom justify-content-between">
                                    <div class="card-title">
                                        Bitcoin Price Statistics
                                    </div>
                                    <a href="javascript:void(0);" class="text-primary fs-12"><i class="ti ti-history fs-12 me-1"></i>Full History</a>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="list-group border-0 crypto-list">
                                        <li class="list-group-item flex-column align-items-start border-top-0 border-start-0 border-end-0 border-bottom bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-semibold text-dark">Bitcoin value in USD</p>
                                                <p class="text-dark mb-0 font-weight-normal fs-15">
                                                    <span class="numberfont">$42,808.47</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item flex-column align-items-start border-top-0 border-start-0 border-end-0 border-bottom bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-semibold text-dark">Price Change</p>
                                                <p class="text-danger mb-0 font-weight-normal fs-13">
                                                    <span class="numberfont">+380.30(0.26%)</span> <i class="ri-arrow-up-line align-middle"></i> today
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item flex-column align-items-start border-top-0 border-start-0 border-end-0 border-bottom bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-normal text-dark">Trade Value</p>
                                                <p class="text-dark mb-0 fs-15">
                                                    <span class="numberfont">$245,36,465.652</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item flex-column align-items-start border-top-0 border-start-0 border-end-0 border-bottom bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-semibold text-dark">Market Rank<span class="badge bg-secondary-transparent ms-3">3 Years</span></p>
                                                <p class="text-dark mb-0 fs-15">
                                                    <span class="numberfont">#1</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item flex-column align-items-start border-top-0 border-start-0 border-end-0 border-bottom bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-semibold text-dark">This Week High</p>
                                                <p class="text-success mb-0 fs-15">
                                                    <span class="numberfont">$68,990.90</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item flex-column align-items-start border-top-0 border-start-0 border-end-0 border-bottom bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-semibold text-dark">This Week Low</p>
                                                <p class="text-danger mb-0 fs-15">
                                                    <span class="numberfont">$28,825.76</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item flex-column align-items-start border-top-0 border-start-0 border-end-0 border-bottom bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-semibold text-dark">Market Dominance</p>
                                                <p class="text-dark mb-0 fs-15">
                                                    <span class="numberfont">70%</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item flex-column align-items-start border-0 bg-transparent">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                                <p class="fs-14 mb-0 font-weight-semibold text-dark">Alltime High</p>
                                                <p class="text-info mb-0 fs-15">
                                                    <span class="numberfont">$68,990.90</span>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-6">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">
                                        Prediction Meter
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control form-control-sm choices-single border-0" name="choices-single-default" id="choices-images">
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div id="popTrades" class="text-center"></div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-fill d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-sm rounded-circle bg-primary-transparent"><i class="ti ti-activity-heartbeat fs-14"></i></span>
                                            </div>
                                            <span>Neutral</span>
                                        </div>
                                        <div class="text-end">
                                            <span class="badge bg-primary-transparent">45 - 65</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="flex-fill d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-sm rounded-circle bg-danger-transparent"><i class="ti ti-bolt fs-14"></i></span>
                                            </div>
                                            <span>Sell</span>
                                        </div>
                                        <div class="text-end">
                                            <span class="badge bg-danger-transparent">0 - 45</span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-fill d-flex align-items-center">
                                            <div class="me-2">
                                                <span class="avatar avatar-sm rounded-circle bg-success-transparent"><i class="ti ti-bolt fs-14"></i></span>
                                            </div>
                                            <span>Buy</span>
                                        </div>
                                        <div class="text-end">
                                            <span class="badge bg-success-transparent">65 Above</span>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-4">
                                        <button class="btn btn-outline-primary">Start Prediction</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-3 -->

                    <!-- Start:: row-4 -->
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        Trading History
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-striped text-nowrap"> 
                                            <thead>
                                                <tr>
                                                    <th class="border-bottom-0 ps-4">Coin</th>
                                                    <th class="border-bottom-0 ps-3">Price</th>
                                                    <th class="border-bottom-0">Amount</th>
                                                </tr> 
                                            </thead> 
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2"><span class="avatar avatar-xs rounded-0"><img src="{% static 'assets/images/crypto-currencies/crypto-icons/binance-usd-busd-logo.svg'%}" alt=""></span>Binance</div> 
                                                    </td>
                                                    <td>$0.11923<i class="fe fe-arrow-up text-success ms-1"></i></td>
                                                    <td>0.0215</td>
                                                </tr>
                                                <tr>
                                                    <td> 
                                                        <div class="d-flex align-items-center gap-2">
                                                            <span class="avatar avatar-xs rounded-0">
                                                                <img src="{% static 'assets/images/crypto-currencies/crypto-icons/bitcoin-btc-logo.svg'%}" alt="">
                                                            </span>Bitcoin
                                                        </div> 
                                                    </td>
                                                    <td>$0.07324<i class="fe fe-arrow-down text-danger ms-1"></i></td>
                                                    <td>0.0112</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <span class="avatar avatar-xs rounded-0">
                                                                <img src="{% static 'assets/images/crypto-currencies/crypto-icons/dogecoin-doge-logo.svg'%}" alt="">
                                                            </span>Dogecoin
                                                        </div> 
                                                    </td>
                                                    <td>$0.01153<i class="fe fe-arrow-down text-danger ms-1"></i></td>
                                                    <td>0.0012</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <span class="avatar avatar-xs rounded-0">
                                                                <img src="{% static 'assets/images/crypto-currencies/crypto-icons/solana-sol-logo.svg'%}" alt="">
                                                            </span>Solana
                                                        </div> 
                                                    </td>
                                                    <td>$0.14915<i class="fe fe-arrow-up text-success ms-1"></i></td>
                                                    <td>0.0312</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <span class="avatar avatar-xs rounded-0">
                                                                <img src="{% static 'assets/images/crypto-currencies/crypto-icons/tether-usdt-logo.svg'%}" alt="">
                                                            </span>Tether
                                                        </div> 
                                                    </td>
                                                    <td>$0.08923<i class="fe fe-arrow-down text-danger ms-1"></i></td>
                                                    <td>0.0015</td>
                                                </tr>
                                                <tr>
                                                    <td> 
                                                        <div class="d-flex align-items-center gap-2">
                                                            <span class="avatar avatar-xs rounded-0">
                                                                <img src="{% static 'assets/images/crypto-currencies/crypto-icons/usd-coin-usdc-logo.svg'%}" alt="">
                                                            </span>usd coin
                                                        </div> 
                                                    </td>
                                                    <td>$0.11923<i class="fe fe-arrow-up text-success ms-1"></i></td>
                                                    <td>0.0215</td>
                                                </tr> 
                                            </tbody>
                                        </table> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="top-right"></div>
                                <div class="card-header">
                                    <div class="card-title">
                                        Crypto Currencies Market Value
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped text-nowrap table-borderless">
                                            <thead>
                                                <tr>
                                                    <th scope="col">S.No</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Symbol</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Market Cap</th>
                                                    <th scope="col">Price Graph</th>
                                                    <th scope="col">Volume</th>
                                                    <th scope="col">Price Change</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Bitcoin</td>
                                                    <td>
                                                        <div class="lh-1 d-flex align-items-center">
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <img src="{% static 'assets/images/crypto-currencies/regular/Bitcoin.svg'%}" alt="">
                                                            </span> - BTC
                                                        </div>
                                                    </td>
                                                    <td>
                                                        $16,839.10
                                                    </td>
                                                    <td>
                                                        324.01B
                                                    </td>
                                                    <td>
                                                        <div id="bitcoin-price-graph"></div>
                                                    </td>
                                                    <td>
                                                        14,674,311,168
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.30% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Ethereum</td>
                                                    <td>
                                                        <div class="lh-1 d-flex align-items-center">
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <img src="{% static 'assets/images/crypto-currencies/regular/Ethereum.svg'%}" alt="">
                                                            </span> - ETH
                                                        </div>
                                                    </td>
                                                    <td>
                                                        1,217.96
                                                    </td>
                                                    <td>
                                                        $149,316,232,699
                                                    </td>
                                                    <td>
                                                        <div id="Ethereum-price-graph"></div>
                                                    </td>
                                                    <td>
                                                        $4,758,554,801
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.30% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Dash</td>
                                                    <td>
                                                        <div class="lh-1 d-flex align-items-center">
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <img src="{% static 'assets/images/crypto-currencies/regular/Dash.svg'%}" alt="">
                                                            </span> - DASH
                                                        </div>
                                                    </td>
                                                    <td>
                                                        $43.49
                                                    </td>
                                                    <td>
                                                        $480,799,847
                                                    </td>
                                                    <td>
                                                        <div id="dash-price-graph"></div>
                                                    </td>
                                                    <td>
                                                        $52,626,563
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.45% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Ripple</td>
                                                    <td>
                                                        <div class="lh-1 d-flex align-items-center">
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <img src="{% static 'assets/images/crypto-currencies/regular/Ripple.svg'%}" alt="">
                                                            </span> - XRP
                                                        </div>
                                                    </td>
                                                    <td>
                                                        $0.3531
                                                    </td>
                                                    <td>
                                                        $17,791,969,465
                                                    </td>
                                                    <td>
                                                        <div id="ripple-price-graph"></div>
                                                    </td>
                                                    <td>
                                                        $511,598,941
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.97% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Iota</td>
                                                    <td>
                                                        <div class="lh-1 d-flex align-items-center">
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <img src="{% static 'assets/images/crypto-currencies/regular/IOTA.svg'%}" alt="">
                                                            </span> - IOTA
                                                        </div>
                                                    </td>
                                                    <td>
                                                        $0.169741
                                                    </td>
                                                    <td>
                                                        $471,800,600
                                                    </td>
                                                    <td>
                                                        <div id="iota-price-graph"></div>
                                                    </td>
                                                    <td>
                                                        $5,524,385
                                                    </td>
                                                    <td>
                                                        <span class="text-success">0.93% <i class="ti ti-arrow-big-up-lines ms-1"></i></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Neo</td>
                                                    <td>
                                                        <div class="lh-1 d-flex align-items-center">
                                                            <span class="avatar avatar-xs avatar-rounded">
                                                                <img src="{% static 'assets/images/crypto-currencies/regular/Neo.svg'%}" alt="">
                                                            </span> - NEO
                                                        </div>
                                                    </td>
                                                    <td>
                                                        $6.43
                                                    </td>
                                                    <td>
                                                        $453,601,667
                                                    </td>
                                                    <td>
                                                        <div id="neo-price-graph"></div>
                                                    </td>
                                                    <td>
                                                        $12,904,320
                                                    </td>
                                                    <td>
                                                        <span class="text-danger">0.49% <i class="ti ti-arrow-big-down-lines ms-1"></i></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-4 -->

                </div>
            </div>
            <!-- End::app-content -->

{% endblock %}

{% block scripts %}

        <!-- Apex Charts JS -->
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>

        <!-- Crypto Dashboard --> 
        <script src="{% static 'assets/js/crypto-dashboard.js'%}"></script>
        
{% endblock %}