{% extends 'components/base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    <div class="container-lg">
                        <!-- Start::row-1 -->
                        <div class="row justify-content-center">
                            <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3 flex-shrink-0">
                                                        <img src="{% static 'assets/images/faces/15.jpg'%}" alt="">
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14 text-primary">Henrik Gain</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">Manager</p>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <span class="badge fs-10 bg-light">12 Days ago</span>
                                                    </div>
                                                </div>
                                            <div class="d-flex">
                                                <span class="me-4"><i class="ri-double-quotes-l fs-30 op-1"></i></span>
                                                <p class="text-muted mb-0 fs-13 op-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                    Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                    Tempora, facilis temporibus repellat laudantiums.</p>
                                            </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="text-warning d-block fs-12">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-half-fill"></i>
                                                        </span>
                                                        <span class="text-muted fs-14 op-8">Rating:  4.3 </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <a href="javascript:void(0);" class="badge bg-primary-transparent me-2">
                                                            <i class="ri-thumb-up-line align-bottom me-1 d-inline-flex"></i>10
                                                        </a>
                                                        <a href="javascript:void(0);" class="badge bg-secondary-transparent">
                                                            <i class="ri-chat-1-line align-bottom me-1 d-inline-flex"></i> 08
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3 flex-shrink-0">
                                                        <img src="{% static 'assets/images/faces/14.jpg'%}" alt="">
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14 text-primary">Ameer Don</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">Assistant Engineer</p>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <span class="badge fs-10 bg-light">25, Jan 2024</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <span class="me-4"><i class="ri-double-quotes-l fs-30 op-1"></i></span>
                                                    <p class="text-muted mb-0 fs-13 op-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Tempora, facilis temporibus repellat laudantiums.</p>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="text-warning d-block fs-12">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-half-fill"></i>
                                                        </span>
                                                        <span class="text-muted fs-14 op-8">Rating:  4.2 </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <a href="javascript:void(0);" class="badge bg-primary-transparent me-2">
                                                            <i class="ri-thumb-up-line align-bottom me-1 d-inline-flex"></i>15
                                                        </a>
                                                        <a href="javascript:void(0);" class="badge bg-secondary-transparent">
                                                            <i class="ri-chat-1-line align-bottom me-1 d-inline-flex"></i> 10
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3 flex-shrink-0">
                                                        <img src="{% static 'assets/images/faces/5.jpg'%}" alt="">
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14 text-primary">Willow Zoe</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">CEO</p>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <span class="badge fs-10 bg-light">12, Jan 2024</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <span class="me-4"><i class="ri-double-quotes-l fs-30 op-1"></i></span>
                                                    <p class="text-muted mb-0 fs-13 op-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Tempora, facilis temporibus repellat laudantiums.</p>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="text-warning d-block fs-12">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-half-fill"></i>
                                                        </span>
                                                        <span class="text-muted fs-14 op-8">Rating:  4.1 </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <a href="javascript:void(0);" class="badge bg-primary-transparent me-2">
                                                            <i class="ri-thumb-up-line align-bottom me-1 d-inline-flex"></i>30
                                                        </a>
                                                        <a href="javascript:void(0);" class="badge bg-secondary-transparent">
                                                            <i class="ri-chat-1-line align-bottom me-1 d-inline-flex"></i> 05
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3 flex-shrink-0">
                                                        <img src="{% static 'assets/images/faces/2.jpg'%}" alt="">
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14 text-primary">Lillian Lusy</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">HR Manager</p>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <span class="badge fs-10 bg-light">10, Jan 2024</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <span class="me-4"><i class="ri-double-quotes-l fs-30 op-1"></i></span>
                                                    <p class="text-muted mb-0 fs-13 op-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Tempora, facilis temporibus repellat laudantiums.</p>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="text-warning d-block fs-12">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-half-fill"></i>
                                                        </span>
                                                        <span class="text-muted fs-14 op-8">Rating:  4.2 </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <a href="javascript:void(0);" class="badge bg-primary-transparent me-2">
                                                            <i class="ri-thumb-up-line align-bottom me-1 d-inline-flex"></i>5k
                                                        </a>
                                                        <a href="javascript:void(0);" class="badge bg-secondary-transparent">
                                                            <i class="ri-chat-1-line align-bottom me-1 d-inline-flex"></i> 3k
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3 flex-shrink-0">
                                                        <img src="{% static 'assets/images/faces/10.jpg'%}" alt="">
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14 text-primary">Shmuel Ryatt</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">Support Manager</p>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <span class="badge fs-10 bg-light">02, Jan 2024</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <span class="me-4"><i class="ri-double-quotes-l fs-30 op-1"></i></span>
                                                    <p class="text-muted mb-0 fs-13 op-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Tempora, facilis temporibus repellat laudantiums.</p>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="text-warning d-block fs-12">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-half-fill"></i>
                                                        </span>
                                                        <span class="text-muted fs-14 op-8">Rating:  4.1 </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <a href="javascript:void(0);" class="badge bg-primary-transparent me-2">
                                                            <i class="ri-thumb-up-line align-bottom me-1 d-inline-flex"></i>2k
                                                        </a>
                                                        <a href="javascript:void(0);" class="badge bg-secondary-transparent">
                                                            <i class="ri-chat-1-line align-bottom me-1 d-inline-flex"></i> 11
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card">
                                            <div class="top-left"></div>
                                            <div class="top-right"></div>
                                            <div class="bottom-left"></div>
                                            <div class="bottom-right"></div>
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3 flex-shrink-0">
                                                        <img src="{% static 'assets/images/faces/6.jpg'%}" alt="">
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14 text-primary">Natalie Lynda</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">Team Leader</p>
                                                    </div>
                                                    <div class="ms-auto">
                                                        <span class="badge fs-10 bg-light">28, Dec 2023</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <span class="me-4"><i class="ri-double-quotes-l fs-30 op-1"></i></span>
                                                    <p class="text-muted mb-0 fs-13 op-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Earum autem quaerat distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Tempora, facilis temporibus repellat laudantiums.</p>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center gap-2">
                                                        <span class="text-warning d-block fs-12">
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-fill"></i>
                                                            <i class="ri-star-half-fill"></i>
                                                        </span>
                                                        <span class="text-muted fs-14 op-8">Rating:  4.4 </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <a href="javascript:void(0);" class="badge bg-primary-transparent me-2">
                                                            <i class="ri-thumb-up-line align-bottom me-1 d-inline-flex"></i>1.5k
                                                        </a>
                                                        <a href="javascript:void(0);" class="badge bg-secondary-transparent">
                                                            <i class="ri-chat-1-line align-bottom me-1 d-inline-flex"></i> 12
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <ul class="pagination mb-5 justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0);">
                                            Prev
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link text-primary" href="javascript:void(0);">
                                            next
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End::row-1 -->
                    </div>

                </div>
            </div>
            <!-- End::app-content -->

{% endblock %}

{% block scripts %}



{% endblock %}