{% extends 'components/base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    <div class="container-lg">

                        <!-- Start::row-1 -->
                        <div class="row">
                            <div class="mb-3 fs-16 fw-semibold">Ribbons Style 1</div>
                                <div class="col-xxl-3 col-lg-6 col-md-12">
                                    <div class="card ribbone-card custom-card">
                                        <div class="power-ribbone power-ribbone-top-left text-warning"><span class="bg-warning"><i class="ri-flashlight-line"></i></span></div>
                                        <div class="card-body  ribbon-cards">
                                            <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                            <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-lg-6 col-md-12">
                                    <div class="card ribbone-card custom-card">
                                        <div class="power-ribbone power-ribbone-bottom-left text-primary"><span class="bg-primary"><i class="ri-flashlight-line"></i></span></div>
                                        <div class="card-body  ribbon-cards">
                                            <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                            <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-lg-6 col-md-12">
                                    <div class="card ribbone-card custom-card">
                                        <div class="power-ribbone power-ribbone-top-right text-danger"><span class="bg-danger"><i class="ri-flashlight-line"></i></span></div>
                                        <div class="card-body  ribbon-cards">
                                            <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                            <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-lg-6 col-md-12">
                                    <div class="card ribbone-card custom-card">
                                        <div class="power-ribbone power-ribbone-bottom-right text-success"><span class="bg-success"><i class="ri-flashlight-line"></i></span></div>
                                        <div class="card-body  ribbon-cards">
                                            <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                            <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- End::row-1 -->
        
                        <!-- Start::row-2 -->
                        <div class="row">
                            <div class="mb-3 fs-16 fw-semibold">Ribbons Style 2</div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card custom-card">
                                    <div class="ribbone ribbone-top-left text-primary"><span class="bg-primary">sold out</span></div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card custom-card">
                                    <div class="ribbone ribbone-bottom-left text-success"><span class="bg-success">Update</span></div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card custom-card  sold-out">
                                    <div class="ribbone ribbone-top-right text-warning"><span class="bg-warning">Open</span></div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card custom-card  sold-out">
                                    <div class="ribbone ribbone-bottom-right text-danger"><span class="bg-danger">Offer</span></div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End::row-2 -->
        
                        <!-- Start::row-3 -->
                        <div class="row">
                            <div class="mb-3 fs-16 fw-semibold">Ribbons Style 3</div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card ribbons-style custom-card">
                                    <div class="arrow-ribbone-left bg-secondary">Sale</div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card ribbons-style custom-card">
                                    <div class="arrow-ribbone-right bg-info">Price</div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card ribbons-style custom-card">
                                    <div class="arrow-ribbone-left bg-warning">Service</div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card ribbone-card ribbons-style custom-card">
                                    <div class="arrow-ribbone-right bg-teal">Offer</div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End::row-3 -->
        
                        <!-- Start::row-4 -->
                        <div class="row">
                            <div class="mb-3 fs-16 fw-semibold">Ribbons Style 4</div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbone-success-left">
                                        <span><i class="fe fe-zap"></i></span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbone-warning-right">
                                        <span>offer</span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbone-info-left">
                                        <span><i class="fe fe-zap"></i></span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbone-danger-right">
                                        <span><i class="fe fe-zap"></i></span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End::row-4 -->
        
                        <!-- Start::row-5 -->
                        <div class="row">
                            <div class="mb-3 fs-16 fw-semibold">Ribbons Style 5</div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="bookmark-ribbone-danger-left">
                                        <span>Offer</span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="bookmark-ribbone-secondary-right">
                                        <span><i class="fe fe-zap"></i></span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="bookmark-sideleft-ribbone-success-left">
                                        <span><i class="fe fe-zap"></i></span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="bookmark-sideright-ribbone-primary-right">
                                        <span>Sold out</span>
                                    </span>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End::row-5 -->
        
                        <!-- Start::row-6 -->
                        <div class="row">
                            <h5 class="mb-3 fs-16 fw-semibold">Ribbon Style 6</h5>
                            <div class="col-xxl-2 col-md-4 mx-0 mx-md-5  px-5 px-md-0 ">
                                <div class="card ribbons-style-6 custom-card">
                                    <div class="ribbon-style-6 fullwidth-secondary-ribbons">
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            </div>
                                    </div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-md-4 mx-0 mx-md-5  px-5 px-md-0 ">
                                <div class="card ribbons-style-6 custom-card">
                                    <div class="ribbon-style-6 fullwidth-warning-ribbons">
        
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            </div>
                                    </div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-md-4 mx-0 mx-md-5  px-5 px-md-0 ">
                                <div class="card ribbons-style-6 custom-card">
                                    <div class="ribbon-style-6 fullwidth-primary-ribbons">
        
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            </div>
                                    </div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-md-4 mx-0 mx-md-5  px-5 px-md-0 ">
                                <div class="card ribbons-style-6 custom-card">
                                    <div class="ribbon-style-6 fullwidth-success-ribbons">
        
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            </div>
                                    </div>
                                    <div class="card-body  ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End::row-6 -->
        
                        <!-- Start::row-7 -->
                        <div class="row">
                            <div class="mb-3 fs-16 fw-semibold">Ribbons Style 7</div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbon-badge-right success">
                                        <span class="ribbon-badge-icon"><i class="fe fe-zap"></i></span>
                                        <span class="ribbon-style-7"></span>
                                    </span>
                                    <div class="card-body ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbon-badge-right secondary">
                                        <span class="ribbon-badge-icon"><i class="fe fe-zap"></i></span>
                                        <span class="ribbon-style-7"></span>
                                    </span>
                                    <div class="card-body ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbon-badge-right warning">
                                        <span class="ribbon-badge-icon text-fixed-black"><i class="fe fe-zap"></i></span>
                                        <span class="ribbon-style-7"></span>
                                    </span>
                                    <div class="card-body ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-6 col-md-12">
                                <div class="card custom-card">
                                    <span class="ribbon-badge-right danger">
                                        <span class="ribbon-badge-icon"><i class="fe fe-zap"></i></span>
                                        <span class="ribbon-style-7"></span>
                                    </span>
                                    <div class="card-body ribbon-cards">
                                        <h6 class="card-subtitle mb-2 text-muted">Ribbon Styles</h6>
                                        <p class="card-text">Easily apply quick ribbon styles to enhance the visual appeal of your card with ready-to-use options.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End::row-7 -->
                    </div>

                </div>
            </div>
            <!-- End::app-content -->

{% endblock %}

{% block scripts %}



{% endblock %}