{% extends 'components/custom-base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

{% block errorbody %}
<body class="authentication-background">
{% endblock %}

            <div class="container-lg">
                <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
                    <div class="col-xxl-5 col-xl-5 col-md-6 col-sm-8 col-12">
                        <div class="card custom-card my-4">
                            <div class="top-left"></div>
                            <div class="top-right"></div>
                            <div class="bottom-left"></div>
                            <div class="bottom-right"></div>
                            <div class="card-body p-5">
                                <div class="mb-3 d-flex justify-content-center">
                                    <a href="index">
                                        <img src="{% static 'assets/images/brand-logos/desktop-logo.png'%}" alt="logo" class="desktop-logo">
                                        <img src="{% static 'assets/images/brand-logos/desktop-dark.png'%}" alt="logo" class="desktop-dark">
                                    </a>
                                </div>
                                <p class="h5 mb-2 text-center">Sign Up</p>
                                <p class="mb-4 text-muted op-7 fw-normal text-center fs-14">Welcome! Begin by creating your account.</p>
                                <div class="d-flex mb-3 justify-content-between gap-2 flex-wrap flex-lg-nowrap">
                                    <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center flex-fill">
                                        <span class="avatar avatar-xs">
                                            <img src="{% static 'assets/images/media/apps/google.png'%}" alt="">
                                        </span>
                                        <span class="lh-1 ms-2 fs-13 text-default">Signup with Google</span>
                                    </button>
                                    <button class="btn btn-lg btn-light-ghost border d-flex align-items-center justify-content-center flex-fill">
                                        <span class="avatar avatar-xs invert-1">
                                            <img src="{% static 'assets/images/media/apps/apple.png'%}" alt="">
                                        </span>
                                        <span class="lh-1 ms-2 fs-13 text-default">Signup with Apple</span>
                                    </button>
                                </div>
                                <div class="text-center my-3 authentication-barrier">
                                    <span>OR</span>
                                </div>
                                <div class="row gy-3">
                                    <div class="col-xl-12">
                                        <label for="signup-firstname" class="form-label text-default">Full Name<sup>*</sup></label>
                                        <input type="text" class="form-control" id="signup-firstname" placeholder="full name">
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="signup-password" class="form-label text-default">Password<sup>*</sup></label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control create-password-input" id="signup-password" placeholder="password">
                                            <a href="javascript:void(0);" class="show-password-button text-muted" onclick="createpassword('signup-password',this)"  id="button-addon2"><i class="ri-eye-off-line align-middle"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <label for="signup-confirmpassword" class="form-label text-default">Confirm Password<sup>*</sup></label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control create-password-input" id="signup-confirmpassword" placeholder="confirm password">
                                            <a href="javascript:void(0);" class="show-password-button text-muted" onclick="createpassword('signup-confirmpassword',this)"  id="button-addon21"><i class="ri-eye-off-line align-middle"></i></a>
                                        </div>
                                        <div class="form-check mt-3">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label text-muted fw-normal fs-14" for="defaultCheck1">
                                            </label>
                                            By creating a account you agree to our 
                                            <a href="terms-conditions" class="text-success"><u>Terms & Conditions</u></a> and <a class="text-success"><u>Privacy Policy</u></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid mt-4">
                                    <button class="btn btn-primary">Create Account</button>
                                </div>
                                <div class="text-center">
                                    <p class="text-muted mt-3 mb-0">Already have an account? <a href="signin-basic" class="text-primary">Sign In</a></p>
                                </div>
                                <div class="btn-list text-center mt-3">
                                    <button class="btn btn-icon btn-sm btn-wave authentication-social-btn">
                                        <i class="ri-facebook-line fw-bold"></i>
                                    </button>
                                    <button class="btn btn-icon btn-sm btn-wave authentication-social-btn">
                                        <i class="ri-twitter-x-line fw-bold"></i>
                                    </button>
                                    <button class="btn btn-icon btn-sm btn-wave authentication-social-btn">
                                        <i class="ri-instagram-line fw-bold"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
{% endblock %}

{% block scripts %}

        <!-- Show Password JS -->
        <script src="{% static 'assets/js/show-password.js'%}"></script>

{% endblock %}