{% extends 'components/base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    <!-- Start::row-1 -->
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header justify-content-between">
                                    <div class="card-title">Task Summary</div>
                                    <div class="btn-list">
                                        <button type="button" class="btn btn-success btn-sm btn-wave me-0"><i class="ri-edit-line me-1 align-middle"></i>Edit Task</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="fw-medium mb-4 task-title">
                                        Implement Conversion-Driven Design
                                    </h5>
                                    <div class="fs-14 fw-medium mb-2">Assigned By :
                                        <span class="text-muted task-description">
                                            <span class="avatar avatar-xs avatar-rounded align-middle me-1">
                                                <img src="{% static 'assets/images/faces/14.jpg'%}" alt="">
                                            </span>
                                            Rhea Marchel</span>
                                    </div>
                                    <div class="fs-14 fw-medium mb-2">End Date : 
                                        <span class="badge bg-warning fw-medium mx-2 align-middle">10 Days Left !</span><span class="text-muted task-description fs-13 fw-nomal">18,Jan 2024</span> 
                                    </div>
                                    <div class="fs-14 fw-medium mb-2">Task Description :</div>
                                    <p class="text-muted task-description">Implementing Conversion-Driven Design involves strategically incorporating elements and user experiences that actively guide visitors toward taking desired actions. By focusing on intuitive layouts, compelling visuals, and seamless interactions, the design aims to optimize user engagement and increase the likelihood of conversions, such as sign-ups, purchases, or other targeted outcomes.</p>
                                    <div class="fs-14 fw-medium mb-2">Key tasks :</div>
                                    <div>
                                        <ul class="task-details-key-tasks mb-0">
                                            <li>Conduct a thorough analysis of target user personas to understand their preferences.</li>
                                            <li>Specific conversion goals, whether it's sign-ups, purchases, or other desired user actions.</li>
                                            <li>Designs to identify successful conversion strategies and areas for improvement.</li>
                                            <li>Ensure the design is responsive across various devices, providing a seamless.</li>
                                            <li>Integrate trust-building elements such as testimonials, reviews, and security badges to instill confidence in users.</li>
                                            <li>Implement an iterative design process, incorporating insights from testing</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                                        <div>
                                            <span class="d-block text-muted fs-12">Assigned Date</span>
                                            <span class="d-block fs-14 fw-medium">12,Dec 2023</span>
                                        </div>
                                        <div class="task-details-progress">
                                            <span class="d-block text-muted fs-12 mb-1">Progress</span>
                                            <div class="d-flex align-items-center">
                                                <div class="progress progress-xs progress-animate flex-fill me-2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar bg-primary" style="width: 70%"></div>
                                                </div>
                                                <div class="text-muted fs-11">70%</div>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="d-block text-muted fs-12">Efforts</span>
                                            <span class="d-block fs-14 fw-medium">38H : 45M : 53S</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card custom-card overflow-hidden">
                                        <div class="top-left"></div>
                                        <div class="top-right"></div>
                                        <div class="bottom-left"></div>
                                        <div class="bottom-right"></div>
                                        <div class="card-header justify-content-between">
                                            <div class="card-title">Sub Tasks</div>
                                            <div>
                                                <button type="button" class="btn btn-secondary-light btn-sm btn-wave"><i class="ri-add-line me-1 align-middle"></i>Sub Task</button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table text-nowrap table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Task</th>
                                                            <th scope="col">Assigned To</th>
                                                            <th scope="col">Due Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="me-2">
                                                                    <input class="form-check-input form-checked-success" type="checkbox" value="" id="successChecked1" checked=""></div>
                                                                    <div class="fw-medium fs-14">Design visually conversion-focused pages.</div>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="avatar-list-stacked">
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/5.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/16.jpg'%}" alt="img">
                                                                    </span>
                                                                    <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-black" href="javascript:void(0);">
                                                                        +3
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td><span class="fs-12">Due: 02, Jan 2024</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="me-2">
                                                                    <input class="form-check-input form-checked-success" type="checkbox" value="" id="successChecked2"></div>
                                                                    <div class="fw-medium fs-14">Implement A/B testing to experiment .</div>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="avatar-list-stacked">
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/4.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/14.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/6.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/3.jpg'%}" alt="img">
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td><span class="fs-12">Due: 02, Jan 2024</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="me-2">
                                                                    <input class="form-check-input form-checked-success" type="checkbox" value="" id="successChecked3"></div>
                                                                    <div class="fw-medium fs-14">Security Assurance through design.</div>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="avatar-list-stacked">
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/13.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/3.jpg'%}" alt="img">
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td><span class="fs-12">Due: 02, Jan 2024</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="me-2">
                                                                    <input class="form-check-input form-checked-success" type="checkbox" value="" id="successChecked4" checked=""></div>
                                                                    <div class="fw-medium fs-14">Set up analytics tools to track user behavior.</div>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="avatar-list-stacked">
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/12.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/2.jpg'%}" alt="img">
                                                                    </span>
                                                                    <a class="avatar avatar-sm bg-primary avatar-rounded text-fixed-black" href="javascript:void(0);">
                                                                        +3
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td><span class="fs-12">Due: 02, Jan 2024</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="me-2">
                                                                    <input class="form-check-input form-checked-success" type="checkbox" value="" id="successChecked5" checked=""></div>
                                                                    <div class="fw-medium fs-14">Ensure the design is accessible to users with disabilities.</div>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="avatar-list-stacked">
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/15.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/11.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/1.jpg'%}" alt="img">
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td><span class="fs-12">Due: 02, Jan 2024</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="me-2">
                                                                    <input class="form-check-input form-checked-success" type="checkbox" value="" id="successChecked6"></div>
                                                                    <div class="fw-medium fs-14">Document key design decisions, rationale, and outcomes.</div>
                                                                </div>
                                                            </th>
                                                            <td>
                                                                <div class="avatar-list-stacked">
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/2.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded">
                                                                        <img src="{% static 'assets/images/faces/11.jpg'%}" alt="img">
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td><span class="fs-12">Due: 02, Jan 2024</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card custom-card overflow-hidden">
                                        <div class="top-left"></div>
                                        <div class="top-right"></div>
                                        <div class="bottom-left"></div>
                                        <div class="bottom-right"></div>
                                        <div class="card-header">
                                            <div class="card-title">
                                                Attachments
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                                        <div class="lh-1">
                                                            <span class="avatar p-2 bg-light">
                                                                <img src="{% static 'assets/images/media/file-manager/1.png'%}" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="flex-fill">
                                                            <a href="javascript:void(0);"><span class="d-block fw-medium">Complete Project</span></a>
                                                            <span class="d-block text-muted fs-12 fw-normal">0.45MB</span>
                                                        </div>
                                                        <div class="btn-list">
                                                            <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                                            <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-light">
                                                                <img src="{% static 'assets/images/media/file-manager/3.png'%}" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="flex-fill">
                                                            <a href="javascript:void(0);"><span class="d-block fw-medium">MiniFiles.zip</span></a>
                                                            <span class="d-block text-muted fs-12 fw-normal">0.99MB</span>
                                                        </div>
                                                        <div class="btn-list">
                                                            <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                                            <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                                        <div class="lh-1">
                                                            <span class="avatar p-2 bg-light">
                                                                <img src="{% static 'assets/images/media/file-manager/1.png'%}" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="flex-fill">
                                                            <a href="javascript:void(0);"><span class="d-block fw-medium">image-145.png</span></a>
                                                            <span class="d-block text-muted fs-12 fw-normal">245KB</span>
                                                        </div>
                                                        <div class="btn-list">
                                                            <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                                            <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="d-flex align-items-center flex-wrap gap-2">
                                                        <div class="lh-1">
                                                            <span class="avatar bg-light">
                                                                <img src="{% static 'assets/images/media/file-manager/3.png'%}" alt="">
                                                            </span>
                                                        </div>
                                                        <div class="flex-fill">
                                                            <a href="javascript:void(0);"><span class="d-block fw-medium">BackupFile.zip</span></a>
                                                            <span class="d-block text-muted fs-12 fw-normal">2MB</span>
                                                        </div>
                                                        <div class="btn-list">
                                                            <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-info-light btn-wave"><i class="ri-edit-line"></i></button>
                                                            <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-danger-light btn-wave"><i class="ri-delete-bin-line"></i></button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card custom-card">
                                        <div class="top-left"></div>
                                        <div class="top-right"></div>
                                        <div class="bottom-left"></div>
                                        <div class="bottom-right"></div>
                                        <div class="card-header pb-2">
                                            <div class="card-title">
                                                Additional Details
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="table-responsive">
                                                <table class="table text-nowrap">
                                                    <tbody>
                                                        <tr>
                                                            <td><span class="fw-medium">Task ID :</span></td>
                                                            <td>TSK - 457</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="fw-medium">Task Tags :</span></td>
                                                            <td>
                                                                <span class="badge bg-light border text-default">Web Design</span>
                                                                <span class="badge bg-light border text-default">Responsive Design</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="fw-medium">Project Name :</span></td>
                                                            <td>
                                                                Mordern Come Design
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="fw-medium">Project Status :</span></td>
                                                            <td>
                                                            <span class="fw-medium text-secondary">Inprogress</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="fw-medium">Project Priority :</span></td>
                                                            <td>
                                                            <span class="badge bg-danger">High</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="fw-medium">Assigned To :</span></td>
                                                            <td>
                                                                <div class="avatar-list-stacked">
                                                                    <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" data-bs-original-title="Ayyan">
                                                                        <img src="{% static 'assets/images/faces/2.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" data-bs-original-title="Sasha">
                                                                        <img src="{% static 'assets/images/faces/8.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" data-bs-original-title="Anagha">
                                                                        <img src="{% static 'assets/images/faces/2.jpg'%}" alt="img">
                                                                    </span>
                                                                    <span class="avatar avatar-sm avatar-rounded" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" data-bs-original-title="Hishen">
                                                                        <img src="{% static 'assets/images/faces/10.jpg'%}" alt="img">
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                                <div class="card-header">
                                    <div class="card-title">Task Discussions</div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled profile-timeline">
                                        <li>
                                            <div>
                                                <span class="avatar avatar-sm bg-primary-transparent avatar-rounded profile-timeline-avatar">
                                                    A
                                                </span>
                                                <p class="mb-2 fs-14">
                                                    <span class="fw-medium">Project Update Meeting on <span class="fw-medium">Tasks Id:TSK-457 </span></span>.
                                                    <span class="float-end fs-11 text-muted  op-6"><i class="ri-time-line me-1 d-inline-block align-middle"></i>19,Dec 2023 - 20:06</span>
                                                </p>
                                                <p class="text-muted mb-0 fs-14">
                                                    Scheduled our weekly project update meeting for next monday. Agenda includes progress,challenges, and next steps. See you there!.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="avatar avatar-sm avatar-rounded profile-timeline-avatar">
                                                    <img src="{% static 'assets/images/faces/11.jpg'%}" alt="">
                                                </span>
                                                <p class="text-muted mb-2 fs-14">
                                                    <span class="text-default">
                                                        <span class="fw-medium">Robin Keith</span> reacted to the task &#128077;
                                                    </span>.
                                                    <span class="float-end fs-11 text-muted  op-6"><i class="ri-time-line me-1 d-inline-block align-middle"></i>22,Dec 2023 - 14:12</span>
                                                </p>
                                                <p class="text-muted mb-0 fs-14">
                                                    Lorem ipsum dolor sit amet, consectetur.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="avatar avatar-sm avatar-rounded profile-timeline-avatar">
                                                    <img src="{% static 'assets/images/faces/4.jpg'%}" alt="">
                                                </span>
                                                <p class="text-muted mb-2 fs-14"> Sent You a File for Review.
                                                    <span class="text-default"><b>Amelia Davis</b> Sent You Files for<b>Review</b></span>.<span class="float-end fs-11 text-muted  op-6"><i class="ri-time-line me-1 d-inline-block align-middle"></i>03,Dec 2023 - 17:32</span>
                                                </p>
                                                <p class="profile-activity-media mb-0">
                                                    <a href="javascript:void(0);">
                                                        <img src="{% static 'assets/images/media/file-manager/3.png'%}" alt="">
                                                    </a>  
                                                    <span class="fs-11 text-muted">542.07KB</span>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="avatar avatar-sm bg-success-transparent avatar-rounded profile-timeline-avatar">
                                                    L
                                                </span>
                                                <p class="text-muted mb-2 fs-14">
                                                    <span class="text-default"><b>You</b> shared with 5 Recipients <b>Harvey,Jorge,Tracey,Arunima,Vidhanth</b></span>.<span class="float-end fs-11 text-muted  op-6"><i class="ri-time-line me-1 d-inline-block align-middle"></i>18,Nov 2023 - 07:41</span>
                                                </p>
                                                <p class="profile-activity-media mb-2">
                                                    <a href="javascript:void(0);">
                                                        <img src="{% static 'assets/images/media/media-75.jpg'%}" alt="">
                                                    </a>   
                                                    <a href="javascript:void(0);">
                                                        <img src="{% static 'assets/images/media/media-76.jpg'%}" alt="">
                                                    </a>   
                                                </p>
                                                <div>
                                                    <div class="avatar-list-stacked">
                                                        <span class="avatar avatar-sm avatar-rounded">
                                                            <img src="{% static 'assets/images/faces/2.jpg'%}" alt="img">
                                                        </span>
                                                        <span class="avatar avatar-sm avatar-rounded">
                                                            <img src="{% static 'assets/images/faces/8.jpg'%}" alt="img">
                                                        </span>
                                                        <span class="avatar avatar-sm avatar-rounded">
                                                            <img src="{% static 'assets/images/faces/2.jpg'%}" alt="img">
                                                        </span>
                                                        <span class="avatar avatar-sm avatar-rounded">
                                                            <img src="{% static 'assets/images/faces/10.jpg'%}" alt="img">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <span class="avatar avatar-sm avatar-rounded profile-timeline-avatar">
                                                    <img src="{% static 'assets/images/media/media-39.jpg'%}" alt="">
                                                </span>
                                                <p class="mb-1 fs-14">
                                                    <b>You</b> Commented on <b>Philip Jimmi</b> post <a class="text-secondary" href="javascript:void(0);"><u>#winter</u></a>.
                                                    <span class="float-end fs-11 text-muted  op-6"><i class="ri-time-line me-1 d-inline-block align-middle"></i>26,Dec 2023 - 18:46</span>
                                                </p>
                                                <p class="text-muted fs-14">Coming Seasons are so horrible pay attention</p>
                                                <p class="profile-activity-media mb-0">
                                                    <a href="javascript:void(0);">
                                                        <img src="{% static 'assets/images/media/media-26.jpg'%}" alt="">
                                                    </a>    
                                                    <a href="javascript:void(0);">
                                                        <img src="{% static 'assets/images/media/media-29.jpg'%}" alt="">
                                                    </a>    
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <div class="d-sm-flex align-items-center lh-1">
                                        <div class="me-sm-3 mb-2 mb-sm-0">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="{% static 'assets/images/faces/9.jpg'%}" alt="">
                                            </span>
                                        </div>
                                        <div class="flex-fill me-sm-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Post Anything" aria-label="Recipient's username with two button addons">
                                                <button type="button" aria-label="button" class="btn btn-outline-light border btn-wave"><i class="bi bi-emoji-smile"></i></button>
                                                <button type="button" aria-label="button" class="btn btn-outline-light border btn-wave"><i class="bi bi-paperclip"></i></button>
                                                <button type="button" aria-label="button" class="btn btn-outline-light border btn-wave"><i class="bi bi-camera"></i></button>
                                                <button class="btn btn-primary btn-wave" type="button">Post</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End::row-1 -->

                </div>
            </div>
            <!-- End::app-content -->

{% endblock %}

{% block scripts %}



{% endblock %}