{% extends 'components/base.html' %} {% load static %} {% block styles %}

<!-- Jsvector Maps -->
<link rel="stylesheet" href="{% static 'assets/libs/jsvectormap/css/jsvectormap.min.css'%}" />
<!-- Choices Css -->
<link rel="stylesheet" href="{% static 'assets/libs/apexcharts/apexcharts.css'%}">
{% endblock %} {% block content %}

<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start::row-1 -->
        <div class="row">
            <h5 style="text-align: center;">Select a state from the US map to view details</h5>
        </div>
        <div class="row">
            {% comment %}
            <div class="col-xl-6">
                <div class="card custom-card">
                    <div class="top-left"></div>
                    <div class="top-right"></div>
                    <div class="bottom-left"></div>
                    <div class="bottom-right"></div>
                    <div class="card-header">
                        <div class="card-title">Map With Lines</div>
                    </div>
                    <div class="card-body">
                        <div id="lines-map"></div>
                    </div>
                </div>
            </div>


            {% endcomment %}
            <div class="col-xl-12" style="margin: auto; height: 80vh">
                <!--<div class="card custom-card">
                                <div class="top-left"></div>
                                <div class="top-right"></div>
                                <div class="bottom-left"></div>
                                <div class="bottom-right"></div>
                <div class="card-header">
                                    <div class="card-title" style="font-size: 30px">US Map</div>
                                </div>-->
                <div class="card-body" style="height: 100%; padding: 0">
                    <div style="display: none" id="lines-map"></div>
                    <div id="us-map" style="height: 100%; width: 100%"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 id="state-title-3" style="text-align: center;">State</h1>
            <h5  style="text-align: center;">Views per Year</h5>
        </div>
        <!--tabla 1-->
        <div class="row">
            <div class="col-xl-6">
                <div class="card custom-card" id="state-card">
                    <div class="top-left"></div>
                    <div class="top-right"></div>
                    <div class="bottom-left"></div>
                    <div class="bottom-right"></div>
                    <div class="card-header" style="justify-content: space-around;">
                        <!-- <div class="card-title" id="state-title-2">Reversed Bar Chart</div> -->
                        <div class="card-title">Carbone Dioxide Emission</div>
                    </div>
                    <div class="card-body">
                        <div id="bar-reversed"></div>
                    </div>
                </div>
            </div>
            <!--Tabla 2-->
            <div class="col-xl-6">
                <div class="card custom-card" id="state-card">
                    <div class="top-left"></div>
                    <div class="top-right"></div>
                    <div class="bottom-left"></div>
                    <div class="bottom-right"></div>
                    <div class="card-header" style="justify-content: space-around;">
                        <!-- <div class="card-title" id="state-title-2">Reversed Bar Chart</div> -->
                        <div class="card-title">Methane Emission</div>
                    </div>
                    <div class="card-body">
                        <div id="bar-r"></div>
                    </div>
                </div>
            </div>
            <div>
                <h1 style="text-align: center;">IA</h1>
                <div>
                    <button onclick="ia()">Generar IA</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End::app-content -->

{% endblock %} {% block scripts %}
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>
<script  src="{% static 'assets/libs/apexcharts/ia.js'%}"></script>

<!-- Apex Charts JS -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script
<!-- Used In Zoomable TIme Series Chart -->
<script src="{% static 'assets/js/dataseries.js'%}"></script>


<!-- Internal Apex Line Charts JS -->
<script src="{% static 'assets/js/apexcharts-line.js'%}"></script>

<!-- Used In Zoomable TIme Series Chart -->
<script src="{% static 'assets/js/dataseries.js'%}"></script>

<!-- Internal Apex Bar Charts JS -->
<script src="{% static 'assets/js/apexcharts-bar.js'%}"></script>
<script src="{% static 'assets/js/apexcharts-scatter.js'%}"></script>

<!-- JSVector Maps JS -->
<script src="{% static 'assets/libs/jsvectormap/js/jsvectormap.min.js'%}"></script>

<!-- JSVector Maps MapsJS -->
<script src="{% static 'assets/libs/jsvectormap/maps/world-merc.js'%}"></script>
<script src="{% static 'assets/js/us-merc-en.js'%}"></script>
<!--<script src="{% static 'assets/js/russia.js'%}"></script>
        <script src="{% static 'assets/js/spain.js'%}"></script>
        <script src="{% static 'assets/js/canada.js'%}"></script>-->
<script  src="{% static 'assets/js/jsvectormap.js'%}"></script>

<!-- Apex Charts JS -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>
<!---Used In Basic Area Chart-->
<script src="{% static 'assets/js/apexcharts-stock-prices.js'%}"></script>
<!-- Used For Secection-Github Style Chart -->
<script src="{% static 'assets/js/apex-github-data.js'%}"></script>
<!-- Used For Irregular Time Series Chart -->
<script src="{% static 'assets/js/apexcharts-irregulardata.js'%}"></script>
<script src="{% static 'assets/libs/moment/moment.js'%}"></script>

<!-- Internal Apex Area Charts JS -->
<script src="{% static 'assets/js/apexcharts-area.js'%}"></script>

\ {% endblock %}